// .example-button-row {
//   background-color: saddlebrown;
// }

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.spacer {
  flex: 1 1 auto;
}

.bg-custom {
  background-color: #00b0ff !important;
  height: 250px;
}
.link-text {
  font-size: 20px;
}

.btn-link {
  color: white;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.btn-link:hover .ShadowC {
  // transform: translate(-0.5px, -0.5px);
  // filter: url(#myFilterShadow1);
  // transition: transform 0.1s;

  -webkit-filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.7));
  -moz-filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.7));
  filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.7));
}
.btn-link:visited,
.btn-link:focus,
.btn-link:active,
.btn-link:active:focus {
  color: white !important;

  text-shadow: 1px 2px 5px rgba(1, 0, 68, 0.685), 0 0 20px rgb(0, 241, 221), 1px 2px 5px rgb(0, 40, 148);
  //text-shadow: 1px 1px 2px rgba(0, 3, 155, 0.685), 0 0 25px rgb(81, 255, 0), 0 0 5px rgb(16, 139, 0);
  //text-shadow: 1px 1px 2px rgba(0, 3, 155, 0.685), 0 0 25px rgb(81, 255, 0), 0 0 5px rgb(16, 139, 0);
  text-decoration: underline !important;
}

.logo-icon {
  color: aquamarine;
  text-shadow: 0px 0px 6px rgba(211, 248, 0, 0.7), 2px 4px 3px rgba(139, 2, 2, 0.336);
}

.dropShadowA {
  -webkit-filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.3));
  &:hover {
    -webkit-filter: drop-shadow(4px 6px 6px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(4px 6px 6px rgba(0, 0, 0, 0.3));
  }
}

.dropShadowB {
  -webkit-filter: drop-shadow(2px 3px 1px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(2px 3px 1px rgba(0, 0, 0, 0.5));
  &:hover {
    -webkit-filter: drop-shadow(4px 6px 2px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(4px 6px 2px rgba(0, 0, 0, 0.5));
  }
}

.dropShadowC {
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
  filter: url(#myFilterShadow);
  &:hover {
    transform: translate(-0.5px, -0.5px);
    filter: url(#myFilterShadow1);
    transition: transform 0.1s;
  }
}

.ShadowC {
  -webkit-filter: drop-shadow(2px 3px 1px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(2px 3px 1px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(2px 3px 1px rgba(0, 0, 0, 0.5));
  // -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
  // filter: url(#myFilterShadow);
}

.brand-text {
  font-family: Lobster, cursive;
  text-transform: inherit !important;
  font-size: 36px !important;
  color: azure;
  text-decoration: underline;
  text-shadow: 1px 1px 2px rgba(3, 0, 155, 0.685), 0 0 25px rgb(208, 255, 0), 0 0 5px rgb(1, 32, 172);

  //text-shadow: 1px 1px 2px rgba(0, 3, 155, 0.685), 0 0 25px rgb(208, 255, 0), 0 0 5px rgb(0, 139, 97);

  //text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  //text-shadow: 2px 2px 5px rgb(0, 81, 255);

  //text-shadow: 0px 0px 6px rgba(211, 248, 0, 0.7), 2px 4px 3px rgba(139, 2, 2, 0.336);
  //text-shadow: 1px 1px 2px rgba(9, 65, 187, 0.685), 0 0 25px rgb(255, 166, 0), 0 0 5px darkblue;
  //text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7), 2px 4px 3px rgba(0, 0, 0, 0.3);
}

// .menu-toolbar {
//   padding: 4px;
//   padding-top: 3px;
//   position: relative;
//   display: flex;
//   align-items: center;
// }

// .btn-custom,
// .btn-custom:hover,
// .btn-custom:active,
// .btn-custom:visited,
// .btn-custom:focus,
// .btn-custom:active:focus {
//   background-color: #00b0ff !important;
//   ////box-shadow: #02a2b8 !important;
// }

// .btn-custom:focus,
// .btn-custom:hover,
// .btn-custom:active,
// .btn-custom:not(:disabled):not(.disabled):active,
// .btn-custom:not(:disabled):not(.disabled).active,
// .show > .btn-custom.dropdown-toggle,
// .btn-custom:not(:disabled):not(.disabled):active:focus,
// .btn-custom:not(:disabled):not(.disabled).active:focus {
//   background-color: #029be2 !important;
//   ////border-color: #00bcd4 !important;
//   //box-shadow: 0rem 0.5rem 1rem 0.1rem #9cddfc !important;

//   -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 176, 255, 0.3) !important;
//   -moz-box-shadow: 0px 10px 20px 0px rgba(0, 176, 255, 0.3) !important;
//   box-shadow: 0px 10px 20px 0px rgba(0, 176, 255, 0.3) !important;
// }

// :disabled {
//   box-shadow: none !important;
// }

// .icon-drop-shadow {
//   -webkit-filter: drop-shadow(3px 4px 1px rgba(0, 0, 0, 0.5));
//   -moz-filter: drop-shadow(3px 4px 1px rgba(0, 0, 0, 0.5));
//   filter: drop-shadow(3px 4px 1px rgba(0, 0, 0, 0.5));
//   &:hover {
//     -webkit-filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.5));
//     -moz-filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.5));
//     filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.5));
//   }
// }

// .icon-drop-shadow {
//   -webkit-filter: drop-shadow(2px 3px 1px rgba(0, 0, 0, 0.5));
//   -moz-filter: drop-shadow(2px 3px 1px rgba(0, 0, 0, 0.5));
//   filter: drop-shadow(2px 3px 1px rgba(0, 0, 0, 0.5));
//   &:hover {
//     -webkit-filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.7));
//     -moz-filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.7));
//     filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.7));
//   }
// }

// .icon-drop-shadow {
//   -webkit-filter: drop-shadow(3px 4px 1px rgba(0, 0, 0, 0.5));
//   -moz-filter: drop-shadow(3px 4px 1px rgba(0, 0, 0, 0.5));
//   filter: drop-shadow(3px 4px 1px rgba(0, 0, 0, 0.5));
//   &:hover {
//     -webkit-filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.7));
//     -moz-filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.7));
//     filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.7));
//   }
// }

//===================================================10.03.2021=

// .btn-lb-recessed {
//   font-family: inherit;
//   color: white;
//   background-color: #00b0ff;

//   -webkit-box-text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
//   -moz-box-text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
//   text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);

//   -webkit-box-shadow: 0 14px 26px -12px rgba(0, 174, 255, 0.42), 0 4px 23px 0px rgb(0, 0, 0, 0.12),
//     0 8px 10px -5px rgb(0, 174, 255, 0.2);
//   -moz-box-shadow: 0 14px 26px -12px rgba(0, 174, 255, 0.42), 0 4px 23px 0px rgb(0, 0, 0, 0.12),
//     0 8px 10px -5px rgb(0, 174, 255, 0.2);
//   box-shadow: 0 14px 26px -12px rgba(0, 174, 255, 0.42), 0 4px 23px 0px rgb(0, 0, 0, 0.12),
//     0 8px 10px -5px rgb(0, 174, 255, 0.2);
// }

// .btn-lb-recessed:hover .icon-btn-drop-shadow {
//   -webkit-filter: drop-shadow($icon-drop-shadow-hover);
//   -moz-filter: drop-shadow($icon-drop-shadow-hover);
//   filter: drop-shadow($icon-drop-shadow-hover);
// }

// .btn-lb-recessed:hover {
//   background-color: #2fbafa;
//   border-color: #0288d1;

//   -webkit-box-text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.4);
//   -moz-box-text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.4);
//   text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.4);
// }

// .btn-lb-recessed:focus .icon-btn-drop-shadow {
//   -webkit-filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.7));
//   -moz-filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.7));
//   filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.7));
// }

// .btn-lb-recessed:visited,
// .btn-lb-recessed:focus,
// .btn-lb-recessed:active,
// .btn-lb-recessed:active:focus {
//   color: white;
//   background-color: #00a4f0;
//   border-color: #0288d1;

//   // -webkit-box-text-shadow: 1px 2px 5px rgba(1, 0, 68, 0.685), 0 0 20px rgb(0, 241, 221), 1px 2px 5px rgb(0, 40, 148);
//   // -moz-box-text-shadow: 1px 2px 5px rgba(1, 0, 68, 0.685), 0 0 20px rgb(0, 241, 221), 1px 2px 5px rgb(0, 40, 148);
//   // text-shadow: 1px 2px 5px rgba(1, 0, 68, 0.685), 0 0 20px rgb(0, 241, 221), 1px 2px 5px rgb(0, 40, 148);

//   -webkit-box-text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7), 1px 1px 1px rgba(0, 0, 0, 0.3);
//   -moz-box-text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7), 1px 1px 1px rgba(0, 0, 0, 0.3);
//   text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7), 1px 1px 1px rgba(0, 0, 0, 0.3);

//   -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
//   -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
//   box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset, 0px 7px 10px 2px rgba(255, 255, 255, 0.2);

//   &:disabled {
//     background-color: #00b0ff !important;
//   }
// }

// .btn-light-blue {
//   background-color: #00aeff;
// }

// .btn-light-blue:hover,
// .btn-light-blue:visited,
// .btn-light-blue:focus,
// .btn-light-blue:active,
// .btn-light-blue:active:focus {
//   background-color: #039be5;
//   border-color: #0288d1;

//   -webkit-box-shadow: 0 14px 26px -12px rgba(0, 174, 255, 0.42), 0 4px 23px 0px rgb(0, 0, 0, 0.12),
//     0 8px 10px -5px rgb(0, 174, 255, 0.2);
//   -moz-box-shadow: 0 14px 26px -12px rgba(0, 174, 255, 0.42), 0 4px 23px 0px rgb(0, 0, 0, 0.12),
//     0 8px 10px -5px rgb(0, 174, 255, 0.2);
//   box-shadow: 0 14px 26px -12px rgba(0, 174, 255, 0.42), 0 4px 23px 0px rgb(0, 0, 0, 0.12),
//     0 8px 10px -5px rgb(0, 174, 255, 0.2);

//   &:disabled {
//     background-color: #00b0ff !important;
//   }
// }
