<div class="m-5">
    <button mat-raised-button color="primary" class="px-4 py-1">Primary</button>
    <button mat-raised-button color="secondary" class="px-4 py-1">Secondary</button>
    <button mat-raised-button color="info" class="px-4 py-1">Info</button>
    <button mat-raised-button color="success" class="px-4 py-1">Success</button>
    <button mat-raised-button color="accent" class="px-4 py-1">Accent</button>
    <button mat-raised-button color="golden" class="px-4 py-1">Golden</button>
    <button mat-raised-button color="mandarin" class="px-4 py-1">Mandarin</button>
    <button mat-raised-button color="warn" class="px-4 py-1">Warn</button>
    <button mat-raised-button color="rose" class="px-4 py-1">Rose</button>
    <button mat-raised-button class="px-4 py-1">Basic</button>
    <button mat-raised-button disabled class="px-4 py-1">Disabled</button>
    <a mat-raised-button target="_blank" class="px-4 py-1">Link</a>
    <button mat-raised-button color="primary" class="px-4 py-1 px-sm-4">
        <fa-icon [icon]="faUser" size="lg" class="el-icon-shadow-small px-2" transform="grow-4">
        </fa-icon>
        Войти
    </button>
</div>

<div class="card-body">

    <button mat-raised-button="" class="btn btn-primary mat-raised-button mat-button-base"><span
            class="mat-button-wrapper">Primary</span>
        <div matripple="" class="mat-ripple mat-button-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
    </button>
    <button mat-raised-button="" class="btn btn-secondary mat-raised-button mat-button-base"><span
            class="mat-button-wrapper">Secondary</span>
        <div matripple="" class="mat-ripple mat-button-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
    </button>
    <button mat-raised-button="" class="btn btn-info mat-raised-button mat-button-base"><span
            class="mat-button-wrapper">Info</span>
        <div matripple="" class="mat-ripple mat-button-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
    </button>
    <button mat-raised-button="" class="btn btn-success mat-raised-button mat-button-base"><span
            class="mat-button-wrapper">Success</span>
        <div matripple="" class="mat-ripple mat-button-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
    </button>
    <button mat-raised-button="" class="btn btn-warning mat-raised-button mat-button-base"><span
            class="mat-button-wrapper">Warning</span>
        <div matripple="" class="mat-ripple mat-button-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
    </button>
    <button mat-raised-button="" class="btn btn-danger mat-raised-button mat-button-base"><span
            class="mat-button-wrapper">Danger</span>
        <div matripple="" class="mat-ripple mat-button-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
    </button>
    <button mat-raised-button="" class="btn btn-rose mat-raised-button mat-button-base"><span
            class="mat-button-wrapper">Rose</span>
        <div matripple="" class="mat-ripple mat-button-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
    </button>
    <button mat-raised-button="" class="btn btn-default mat-raised-button mat-button-base"><span
            class="mat-button-wrapper">Default</span>
        <div matripple="" class="mat-ripple mat-button-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
    </button>
</div>


<h3>Basic Buttons</h3>
<div class="example-button-row">
    <button mat-button color="primary">Primary</button>
    <button mat-button color="secondary">Secondary</button>
    <button mat-button color="info">Info</button>
    <button mat-button color="success">Success</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="golden">Golden</button>
    <button mat-button color="mandarin">Mandarin</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button color="rose">Rose</button>
    <button mat-button>Basic</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button routerLink=".">Link</a>
</div>

<h3>Raised Buttons</h3>
<div class="example-button-row">
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="secondary">Secondary</button>
    <button mat-raised-button color="info">Info</button>
    <button mat-raised-button color="success">Success</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="golden">Golden</button>
    <button mat-raised-button color="mandarin">Mandarin</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button color="rose">Rose</button>
    <button mat-raised-button>Basic</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button routerLink=".">Link</a>
</div>

<h3>Stroked Buttons</h3>
<div class="example-button-row">
    <button mat-stroked-button color="primary">Primary</button>
    <button mat-stroked-button color="secondary">Secondary</button>
    <button mat-stroked-button color="info">Info</button>
    <button mat-stroked-button color="success">Success</button>
    <button mat-stroked-button color="accent">Accent</button>
    <button mat-stroked-button color="golden">Golden</button>
    <button mat-stroked-button color="mandarin">Mandarin</button>
    <button mat-stroked-button color="warn">Warn</button>
    <button mat-stroked-button color="rose">Rose</button>
    <button mat-stroked-button>Basic</button>
    <button mat-stroked-button disabled>Disabled</button>
    <a mat-stroked-button routerLink=".">Link</a>
</div>

<h3>Flat Buttons</h3>
<div class="example-button-row">
    <button mat-flat-button color="primary">Primary</button>
    <button mat-flat-button color="secondary">Secondary</button>
    <button mat-flat-button color="info">Info</button>
    <button mat-flat-button color="success">Success</button>
    <button mat-flat-button color="accent">Accent</button>
    <button mat-flat-button color="golden">Golden</button>
    <button mat-flat-button color="mandarin">Mandarin</button>
    <button mat-flat-button color="warn">Warn</button>
    <button mat-flat-button color="rose">Rose</button>
    <button mat-flat-button>Basic</button>
    <button mat-flat-button disabled>Disabled</button>
    <a mat-flat-button routerLink=".">Link</a>
</div>

<h3>Icon Buttons</h3>
<div class="example-button-row">
    <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
        <fa-icon [icon]="faUser" size="lg"></fa-icon>
    </button>
    <button mat-icon-button color="secondary" aria-label="Example icon-button with a heart icon">
        <fa-icon [icon]="faUser" size="lg"></fa-icon>
    </button>
    <button mat-icon-button color="info" aria-label="Example icon-button with a heart icon">
        <fa-icon [icon]="faUser" size="lg"></fa-icon>
    </button>
    <button mat-icon-button color="success" aria-label="Example icon-button with a heart icon">
        <fa-icon [icon]="faUser" size="lg"></fa-icon>
    </button>
    <button mat-icon-button color="accent" aria-label="Example icon-button with a heart icon">
        <fa-icon [icon]="faUser" size="lg"></fa-icon>
    </button>
    <button mat-icon-button color="golden" aria-label="Example icon-button with a heart icon">
        <fa-icon [icon]="faUser" size="lg"></fa-icon>
    </button>
    <button mat-icon-button color="mandarin" aria-label="Example icon-button with a heart icon">
        <fa-icon [icon]="faUser" size="lg"></fa-icon>
    </button>
    <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
        <fa-icon [icon]="faUser" size="lg"></fa-icon>
    </button>
    <button mat-icon-button color="rose" aria-label="Example icon-button with a heart icon">
        <fa-icon [icon]="faUser" size="lg"></fa-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with a heart icon">
        <fa-icon [icon]="faUser" size="lg"></fa-icon>
    </button>
    <button mat-icon-button disabled aria-label="Example icon-button with a heart icon">
        <fa-icon [icon]="faUser" size="lg"></fa-icon>
    </button>
    <a mat-icon-button routerLink="." aria-label="Example icon-button with a heart icon">
        <fa-icon [icon]="faUser" size="lg"></fa-icon>
    </a>
</div>

<h3>Fab Buttons</h3>
<div class="example-button-row">
    <button mat-fab color="primary">Primary</button>
    <button mat-fab color="secondary">Secondary</button>
    <button mat-fab color="info">Info</button>
    <button mat-fab color="success">Success</button>
    <button mat-fab color="accent">Accent</button>
    <button mat-fab color="golden">Golden</button>
    <button mat-fab color="mandarin">Mandarin</button>
    <button mat-fab color="warn">Warn</button>
    <button mat-fab color="rose" disabled>Rose</button>
    <button mat-fab>Basic</button>
    <button mat-fab disabled>Disabled</button>
    <button mat-fab aria-label="Example icon-button with a heart icon">
        <fa-icon [icon]="faUser" size="2x" class="el-icon-shadow"></fa-icon>
    </button>
    <a mat-fab-button routerLink=".">Link</a>
</div>

<h3>Mini Fab Buttons</h3>
<div class="example-button-row">
    <button mat-mini-fab color="primary">Primary</button>
    <button mat-mini-fab color="secondary">Secondary</button>
    <button mat-mini-fab color="info">Info</button>
    <button mat-mini-fab color="success">Success</button>
    <button mat-mini-fab color="accent">Accent</button>
    <button mat-mini-fab color="golden">Golden</button>
    <button mat-mini-fab color="mandarin">Mandarin</button>
    <button mat-mini-fab color="warn">Warn</button>
    <button mat-mini-fab color="rose">Rose</button>
    <button mat-mini-fab>Basic</button>
    <button mat-mini-fab disabled>Disabled</button>
    <button mat-mini-fab aria-label="Example icon-button with a heart icon">
        <fa-icon [icon]="faUser" size="lg"></fa-icon>
    </button>
    <a mat-mini-fab-button routerLink=" .">Link</a>
</div>

==============================================================================
==============================================================================
==============================================================================

<div class="conteiner bg-custom">

    <div class="logo d-none d-sm-block">
        <a class="brand-text logo-normal">
            Бренд
        </a>
        <fa-icon [icon]="faUser" size="2x" class="col align-self-center dropShadowA logo-icon">
        </fa-icon>
    </div>

    <button matRipple class="btn btn-link">
        <div class="row">
            <fa-icon [icon]="faMagic" size="2x" class="col align-self-center dropShadowB" transform="grow-4">
            </fa-icon>
            <div class="col d-none d-md-block text-capitalize link-text">
                Пользователь
            </div>
        </div>
    </button>

    <button matRipple class="btn btn-link mx-0 px-4">
        <div class="row">
            <fa-icon [icon]="faMagic" size="2x" class="col dropShadowB px-1">
            </fa-icon>
            <div class="col d-none d-md-block text-capitalize link-text px-1">
                Пользователь
            </div>
        </div>
    </button>
    <button matRipple class="btn btn-link mx-0 px-4">
        <div class="row">
            <fa-icon [icon]="faUserCog" size="2x" class="col dropShadowB px-1">
            </fa-icon>
            <div class="col d-none d-md-block text-capitalize link-text px-1">
                Пользователь
            </div>
        </div>
    </button>

    <button matRipple class="btn btn-link">
        <div class="row">
            <fa-icon [icon]="faUser" size="2x" class="col align-self-center dropShadowB">
            </fa-icon>
            <div class="col d-none d-md-block text-capitalize link-text">
                Пользователь
            </div>
        </div>
    </button>
    <button matRipple class="btn btn-link">
        <div class="row">
            <fa-icon [icon]="faUserCog" size="2x" class="col align-self-center dropShadowB">
            </fa-icon>
            <div class="col d-none d-md-block text-capitalize link-text">
                Настройки
            </div>
        </div>
    </button>
    <button matRipple class="btn btn-link">
        <div class="row">
            <fa-icon [icon]="faPencilAlt" size="2x" class="col align-self-center dropShadowB">
            </fa-icon>
            <div class="col d-none d-md-block text-capitalize link-text">
                Редактировать
            </div>
        </div>
    </button>

    <button matRipple class="btn btn-link btn-sm">
        <div class="row">
            <fa-icon [icon]="faUser" size="2x" class="col align-self-center dropShadowB">
            </fa-icon>
            <div class="col d-none d-md-block text-capitalize link-text">
                Пользователь
            </div>
        </div>
    </button>

    <button matRipple class="btn btn-link btn-sm">
        <div class="row">
            <fa-icon [icon]="faUser" size="2x" class="col align-self-center dropShadowB">
            </fa-icon>
            <div class="col d-none d-md-block text-capitalize link-text">
                Пользователь
            </div>
        </div>
    </button>
    <button matRipple class="btn btn-link btn-sm">
        <div class="row">
            <fa-icon [icon]="faUserCog" size="2x" class="col align-self-center dropShadowB">
            </fa-icon>
            <div class="col d-none d-md-block text-capitalize link-text">
                Настройки
            </div>
        </div>
    </button>
    <button matRipple class="btn btn-link  btn-sm">
        <div class="row">
            <fa-icon [icon]="faPencilAlt" size="2x" class="col align-self-center dropShadowB">
            </fa-icon>
            <div class="col d-none d-md-block text-capitalize link-text">
                Редактировать
            </div>
        </div>
    </button>

    &nbsp;&nbsp;
    <fa-icon [icon]="faUser" [inverse]="true" size="2x" class="dropShadowA">
    </fa-icon>
    &nbsp;&nbsp;
    <fa-icon [icon]="faUserCog" [inverse]="true" size="2x" class="dropShadowA">
    </fa-icon>
    &nbsp;&nbsp;
    <fa-icon [icon]="faPencilAlt" [inverse]="true" size="2x" class="dropShadowA">
    </fa-icon>

    &nbsp;&nbsp;
    <fa-icon [icon]="faUser" [inverse]="true" size="2x" class="dropShadowB">
    </fa-icon>
    &nbsp;&nbsp;
    <fa-icon [icon]="faUserCog" [inverse]="true" size="2x" class="dropShadowB" [fixedWidth]="true">
    </fa-icon>
    &nbsp;&nbsp;
    <fa-icon [icon]="faPencilAlt" [inverse]="true" size="2x" class="dropShadowB">
    </fa-icon>

    &nbsp;&nbsp;
    <fa-icon [icon]="faUser" [inverse]="true" size="2x" class="dropShadowC">
    </fa-icon>
    &nbsp;&nbsp;
    <fa-icon [icon]="faUserCog" [inverse]="true" size="2x" class="dropShadowC">
    </fa-icon>
    &nbsp;&nbsp;
    <fa-icon [icon]="faPencilAlt" [inverse]="true" size="2x" class="dropShadowC">
    </fa-icon>

    <button matRipple class="btn btn-link">
        <div class="row">
            <fa-icon [icon]="faUser" size="2x" class="col align-self-center dropShadowC">
            </fa-icon>
            <div class="col d-none d-md-block text-capitalize link-text">
                Пользователь
            </div>
        </div>
    </button>
    <button matRipple class="btn btn-link">
        <div class="row">
            <fa-icon [icon]="faUserCog" size="2x" class="col align-self-center dropShadowC">
            </fa-icon>
            <div class="col d-none d-md-block text-capitalize link-text">
                Настройки
            </div>
        </div>
    </button>
    <button matRipple class="btn btn-link">
        <div class="row">
            <fa-icon [icon]="faPencilAlt" size="2x" class="col align-self-center dropShadowC">
            </fa-icon>
            <div class="col d-none d-md-block text-capitalize link-text">
                Редактировать
            </div>
        </div>
    </button>

</div>

<div class="btn-group">
    <button type="button" matRipple class="btn btn-round btn-info">1</button>
    <button type="button" matRipple class="btn btn btn-info">2</button>
    <button type="button" matRipple class="btn btn btn-info">3</button>
    <button type="button" matRipple class="btn btn-round btn-info">4</button>
</div>

<div class="btn-group">
    <button type="button" matRipple class="btn btn-round btn-light-blue">1</button>
    <button type="button" matRipple class="btn btn-light-blue">2</button>
    <button type="button" matRipple class="btn btn-light-blue">3</button>
    <button type="button" matRipple class="btn btn-light-blue">4</button>
    <button type="button" matRipple class="btn btn-light-blue">5</button>
    <button type="button" matRipple class="btn btn-round btn-light-blue">6</button>
</div>

<div class="btn-group">
    <button type="button" matRipple class="btn btn-round btn-lb-recessed">1</button>
    <button type="button" matRipple class="btn btn-lb-recessed">2</button>
    <button type="button" matRipple class="btn btn-lb-recessed">3</button>
    <button type="button" matRipple class="btn btn-lb-recessed">4</button>
    <button type="button" matRipple class="btn btn-lb-recessed">5</button>
    <button type="button" matRipple class="btn btn-round btn-lb-recessed">6</button>
</div>

<button mat-raised-button class="custom-button-primary px-4 py-1">
    Button
</button>

<div class="btn-group">
    <button mat-raised-button color="primary" class="br-0">1</button>
    <button mat-raised-button color="primary" class="br-0">2</button>
    <button mat-raised-button color="primary" class="br-0">3</button>
    <button mat-raised-button color="primary" class="br-0">4</button>
    <button mat-raised-button color="primary" class="br-0">5</button>
    <button mat-raised-button color="primary" class="br-0">6</button>
</div>


=======================================================================================

<svg width="25%" height="25%" viewBox="0 0 30 40">
    <defs>
        //начало описания фильтра
        <filter id="myFilterShadow" x="0" y="0" width="200%" height="200%">
            // Взять прозрачность объекта и сместить на 2px вниз и вправо
            <feOffset result="offOut" in="SourceAlpha" dx="2" dy="2" />
            // Затем размыть силой 2
            <feGaussianBlur result="blurOut" in="offOut" stdDeviation="2" />
            // и совместить с исходным изображением:
            <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
        </filter>
        <filter id="myFilterShadow1" x="0" y="0" width="200%" height="200%">
            // Взять прозрачность объекта и сместить на 2px вниз и вправо
            <feOffset result="offOut" in="SourceAlpha" dx="4" dy="4" />
            // Затем размыть силой 2
            <feGaussianBlur result="blurOut" in="offOut" stdDeviation="4" />
            // и совместить с исходным изображением:
            <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
        </filter>
    </defs>
</svg>