<div class="container">
    <el-loading *ngIf="isLoading$ | async"></el-loading>
    <el-error-message *ngIf="isFalling$ | async"></el-error-message>

    <div class="row" *ngIf="!(isLoading$ | async) && additionalData">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-secondary">
                    <h1 class="card-title el-title text-center">Создание объявления</h1>
                </div>
                <div class="card-body">
                    <mat-vertical-stepper [linear]="false" #stepper>

                        <mat-step [stepControl]="realtyTypeForm" state="realtyTypeStep">
                            <form [formGroup]="realtyTypeForm">
                                <ng-template matStepLabel>Тип недвижимости</ng-template>
                                <fieldset class="container">
                                    <div class="row row-cols-1 justify-content-center">
                                        <fieldset class="col col-md-6 form-group">
                                            <mat-form-field [color]="realtyTypeControl.valid && 'accent'"
                                                appearance="fill">
                                                <mat-label>Тип сдаваемой недвижимости</mat-label>
                                                <mat-select [formControl]="realtyTypeControl">
                                                    <mat-option *ngFor="let realtyType of realtyTypes"
                                                        [value]="realtyType">
                                                        {{realtyType}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error>
                                                    <el-backend-error-message *ngIf="errorsProps"
                                                        [backendErrors]="errorsProps"
                                                        namePropertyBackendError="RealtyType"
                                                        [formControlForBackendError]="realtyTypeControl">
                                                    </el-backend-error-message>
                                                </mat-error>
                                                <mat-error *ngIf="realtyTypeControl.hasError('required')">Выберете тип
                                                    сдаваемой недвижимости
                                                </mat-error>
                                            </mat-form-field>
                                        </fieldset>
                                        <div class="col-12">
                                            <button class="my-1 py-1 col-sm-auto float-right" mat-raised-button
                                                color="secondary" matStepperNext>
                                                Далее
                                                <fa-icon [icon]="faStepForward" size="lg" class="pl-2"
                                                    transform="grow-1">
                                                </fa-icon>
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </mat-step>

                        <mat-step [stepControl]="descriptionForm" state="descriptionStep">
                            <form [formGroup]="descriptionForm">
                                <ng-template matStepLabel>Описание объявления</ng-template>
                                <fieldset class="container">
                                    <div class="row row-cols-1">
                                        <fieldset class="col form-group">
                                            <mat-form-field [color]="titleControl.valid && 'accent'" appearance="fill">
                                                <mat-label>Оглавление объявления</mat-label>
                                                <input type="text" matInput [formControl]="titleControl"
                                                    placeholder="Введите оглавление">
                                                <mat-error>
                                                    <el-backend-error-message *ngIf="errorsProps"
                                                        [backendErrors]="errorsProps" namePropertyBackendError="Title"
                                                        [formControlForBackendError]="titleControl">
                                                    </el-backend-error-message>
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="!titleControl.hasError('maxLength') && !titleControl.hasError('required') && !titleControl.hasError('backendErrorMessage')">
                                                    Оглавление должно быть не более {{maxTitle}} символов
                                                </mat-error>
                                                <mat-error *ngIf="titleControl.hasError('required')">
                                                    Оглавление <strong>обязательное</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </fieldset>
                                        <fieldset class="col form-group">
                                            <mat-form-field [color]="descriptionControl.valid && 'accent'"
                                                appearance="fill">
                                                <mat-label>Краткое описание</mat-label>
                                                <textarea rows="15" matInput [formControl]="descriptionControl"
                                                    placeholder="Введите краткое описание"></textarea>
                                                <mat-error>
                                                    <el-backend-error-message *ngIf="errorsProps"
                                                        [backendErrors]="errorsProps"
                                                        namePropertyBackendError="Description"
                                                        [formControlForBackendError]="descriptionControl">
                                                    </el-backend-error-message>
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="!descriptionControl.hasError('maxLength') && !descriptionControl.hasError('required')">
                                                    Краткое описание должно быть не более {{maxDescription}} символов
                                                </mat-error>
                                                <mat-error *ngIf="descriptionControl.hasError('required')">
                                                    Краткое описание <strong>обязательное</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </fieldset>
                                        <div class="col-12">
                                            <button class="my-1 py-1 col-sm-auto" mat-raised-button color="elegant"
                                                matStepperPrevious>
                                                <fa-icon [icon]="faStepBackward" size="lg" class="pr-2"
                                                    transform="grow-1">
                                                </fa-icon>
                                                Назад
                                            </button>
                                            <button class="my-1 py-1 col-sm-auto float-right" mat-raised-button
                                                color="secondary" matStepperNext>
                                                Далее
                                                <fa-icon [icon]="faStepForward" size="lg" class="pl-2"
                                                    transform="grow-1">
                                                </fa-icon>
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </mat-step>

                        <mat-step [stepControl]="apartmentParametersForm" state="apartmentParametersStep">
                            <form [formGroup]="apartmentParametersForm">
                                <ng-template matStepLabel>Характеристики сдаваемой недвижимости</ng-template>
                                <fieldset class="container">
                                    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
                                        <fieldset class="col form-group">
                                            <mat-form-field [color]="areaControl.valid && 'accent'" appearance="fill">
                                                <mat-label>Общая площадь</mat-label>
                                                <input type="number" matInput [formControl]="areaControl"
                                                    placeholder="Введите площадь">
                                                <mat-error>
                                                    <el-backend-error-message *ngIf="errorsProps"
                                                        [backendErrors]="errorsProps" namePropertyBackendError="Area"
                                                        [formControlForBackendError]="areaControl">
                                                    </el-backend-error-message>
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="!areaControl.hasError('min', 'max') && !areaControl.hasError('required') && !areaControl.hasError('backendErrorMessage')">
                                                    Площадь должна быть не меньше {{minArea}} м2 и не больше {{maxArea}}
                                                    м2
                                                </mat-error>
                                                <mat-error *ngIf="areaControl.hasError('required')">
                                                    Указание площади <strong>обязательное</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </fieldset>
                                        <fieldset class="col form-group">
                                            <mat-form-field [color]="numberOfRoomsControl.valid && 'accent'"
                                                appearance="fill">
                                                <mat-label>Количество комнат</mat-label>
                                                <input type="number" matInput [formControl]="numberOfRoomsControl"
                                                    placeholder="Введите количество комнат">
                                                <mat-error>
                                                    <el-backend-error-message *ngIf="errorsProps"
                                                        [backendErrors]="errorsProps"
                                                        namePropertyBackendError="NumberOfRooms"
                                                        [formControlForBackendError]="numberOfRoomsControl">
                                                    </el-backend-error-message>
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="!numberOfRoomsControl.hasError('min', 'max') && !numberOfRoomsControl.hasError('required') && !numberOfRoomsControl.hasError('backendErrorMessage')">
                                                    Количество комнат должна быть не меньше {{minNumberOfRooms}} и не
                                                    больше
                                                    {{maxNumberOfRooms}}
                                                </mat-error>
                                                <mat-error *ngIf="numberOfRoomsControl.hasError('required')">
                                                    Указание количество комнат <strong>обязательное</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </fieldset>
                                        <fieldset class="col form-group">
                                            <mat-form-field [color]="numberOfStoreysControl.valid && 'accent'"
                                                appearance="fill">
                                                <mat-label>Количество этажей в доме</mat-label>
                                                <input type="number" matInput [formControl]="numberOfStoreysControl"
                                                    placeholder="Введите количество этажей">
                                                <mat-error>
                                                    <el-backend-error-message *ngIf="errorsProps"
                                                        [backendErrors]="errorsProps"
                                                        namePropertyBackendError="NumberOfStoreys"
                                                        [formControlForBackendError]="numberOfStoreysControl">
                                                    </el-backend-error-message>
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="!numberOfStoreysControl.hasError('min', 'max') && !numberOfStoreysControl.hasError('required') && !numberOfStoreysControl.hasError('backendErrorMessage')">
                                                    Количество этажей должна быть не меньше {{minNumberOfStoreys}} и не
                                                    больше {{maxNumberOfStoreys}}
                                                </mat-error>
                                                <mat-error *ngIf="numberOfStoreysControl.hasError('required')">
                                                    Указание количество этажей <strong>обязательное</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </fieldset>
                                        <fieldset class="col form-group">
                                            <mat-form-field [color]="storeyControl.valid && 'accent'" appearance="fill">
                                                <mat-label>Этаж</mat-label>
                                                <input type="number" matInput [formControl]="storeyControl"
                                                    placeholder="Введите этаж">
                                                <mat-error>
                                                    <el-backend-error-message *ngIf="errorsProps"
                                                        [backendErrors]="errorsProps" namePropertyBackendError="Storey"
                                                        [formControlForBackendError]="storeyControl">
                                                    </el-backend-error-message>
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="!storeyControl.hasError('min', 'max') && !storeyControl.hasError('required') && !storeyControl.hasError('backendErrorMessage')">
                                                    Этажей должна быть не меньше {{minStorey}} и не больше {{maxStorey}}
                                                </mat-error>
                                                <mat-error *ngIf="storeyControl.hasError('required')">
                                                    Указание этажа <strong>обязательное</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </fieldset>
                                        <div class="col-12 col-md-12 col-xl-12">
                                            <button class="my-1 py-1 col-sm-auto" mat-raised-button color="elegant"
                                                matStepperPrevious>
                                                <fa-icon [icon]="faStepBackward" size="lg" class="pr-2"
                                                    transform="grow-1">
                                                </fa-icon>
                                                Назад
                                            </button>
                                            <button class="my-1 py-1 col-sm-auto float-right" mat-raised-button
                                                color="secondary" matStepperNext>
                                                Далее
                                                <fa-icon [icon]="faStepForward" size="lg" class="pl-2"
                                                    transform="grow-1">
                                                </fa-icon>
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </mat-step>

                        <mat-step [stepControl]="addressForm" state="addressStep">
                            <form [formGroup]="addressForm">
                                <ng-template matStepLabel>Адрес</ng-template>
                                <fieldset class="container">
                                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-2">
                                        <fieldset class="col col-sm-12 form-group">
                                            <mat-form-field [color]="regionControl.valid && 'accent'" appearance="fill">
                                                <mat-label>Область</mat-label>
                                                <input type="text" matInput [formControl]="regionControl"
                                                    placeholder="Введите название области" [matAutocomplete]="region">
                                                <mat-autocomplete #region="matAutocomplete">
                                                    <mat-option *ngFor="let region of filteredRegions | async"
                                                        [value]="region">
                                                        {{region}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                                <mat-error>
                                                    <el-backend-error-message *ngIf="errorsProps"
                                                        [backendErrors]="errorsProps" namePropertyBackendError="Region"
                                                        [formControlForBackendError]="regionControl">
                                                    </el-backend-error-message>
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="!regionControl.hasError('required') && !regionControl.hasError('backendErrorMessage') && regionControl.hasError('mismatch')">
                                                    Введите правильное название области
                                                </mat-error>
                                                <mat-error *ngIf="regionControl.hasError('required')">
                                                    Указание области <strong>обязательное</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </fieldset>
                                        <fieldset class="col col-sm-12 form-group">
                                            <mat-form-field [color]="districtControl.valid && 'accent'"
                                                appearance="fill">
                                                <mat-label>Район</mat-label>
                                                <input type="text" matInput [formControl]="districtControl"
                                                    placeholder="Введите название района" [matAutocomplete]="district">
                                                <mat-autocomplete #district="matAutocomplete">
                                                    <mat-option *ngFor="let district of filteredDistrict | async"
                                                        [value]="district">
                                                        {{district}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                                <mat-error>
                                                    <el-backend-error-message *ngIf="errorsProps"
                                                        [backendErrors]="errorsProps"
                                                        namePropertyBackendError="District"
                                                        [formControlForBackendError]="districtControl">
                                                    </el-backend-error-message>
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="!districtControl.hasError('required') && !districtControl.hasError('backendErrorMessage') && districtControl.hasError('mismatch')">
                                                    Название района не соответствует указанной области
                                                </mat-error>
                                                <mat-error *ngIf="districtControl.hasError('required')">
                                                    Указание района <strong>обязательное</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </fieldset>
                                        <fieldset class="col col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2 form-group">
                                            <mat-form-field [color]="settlementTypeControl.valid && 'accent'"
                                                appearance="standard">
                                                <mat-label>Тип нас. пункта</mat-label>
                                                <mat-select [formControl]="settlementTypeControl">
                                                    <mat-option *ngFor="let settlementType of settlementTypes"
                                                        [value]="settlementType">
                                                        {{settlementType}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error>
                                                    <el-backend-error-message *ngIf="errorsProps"
                                                        [backendErrors]="errorsProps"
                                                        namePropertyBackendError="SettlementType"
                                                        [formControlForBackendError]="settlementTypeControl">
                                                    </el-backend-error-message>
                                                </mat-error>
                                                <mat-error *ngIf="settlementTypeControl.hasError('required')">
                                                    Выберете тип нас. пункта
                                                </mat-error>
                                            </mat-form-field>
                                        </fieldset>
                                        <fieldset class="col col-8 col-sm-8 col-md-9 col-lg-10 col-xl-10 form-group">
                                            <mat-form-field [color]="settlementNameControl.valid && 'accent'"
                                                appearance="fill">
                                                <mat-label>Название населенного пункта</mat-label>
                                                <input type="text" matInput [formControl]="settlementNameControl"
                                                    placeholder="Введите название населенного пункта">
                                                <mat-error>
                                                    <el-backend-error-message *ngIf="errorsProps"
                                                        [backendErrors]="errorsProps"
                                                        namePropertyBackendError="SettlementName"
                                                        [formControlForBackendError]="settlementNameControl">
                                                    </el-backend-error-message>
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="!settlementNameControl.hasError('minLength', 'maxLength') && !settlementNameControl.hasError('required') && !settlementNameControl.hasError('backendErrorMessage')">
                                                    Название должно быть от {{minSettlementName}} до
                                                    {{maxSettlementName}}
                                                    символов
                                                </mat-error>
                                                <mat-error *ngIf="settlementNameControl.hasError('required')">
                                                    Название населенного пункта <strong>обязательное</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </fieldset>
                                        <fieldset class="col col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2 form-group">
                                            <mat-form-field [color]="streetTypeControl.valid && 'accent'"
                                                appearance="standard">
                                                <mat-label>Тип улицы</mat-label>
                                                <mat-select [formControl]="streetTypeControl">
                                                    <mat-option *ngFor="let streetType of streetTypes"
                                                        [value]="streetType">
                                                        {{streetType}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error>
                                                    <el-backend-error-message *ngIf="errorsProps"
                                                        [backendErrors]="errorsProps"
                                                        namePropertyBackendError="StreetType"
                                                        [formControlForBackendError]="streetTypeControl">
                                                    </el-backend-error-message>
                                                </mat-error>
                                                <mat-error *ngIf="streetTypeControl.hasError('required')">
                                                    Выберете тип улицы
                                                </mat-error>
                                            </mat-form-field>
                                        </fieldset>
                                        <fieldset class="col col-8 col-sm-8 col-md-9 col-lg-10 col-xl-10 form-group">
                                            <mat-form-field [color]="streetNameControl.valid && 'accent'"
                                                appearance="fill">
                                                <mat-label>Название улицы</mat-label>
                                                <input type="text" matInput [formControl]="streetNameControl"
                                                    placeholder="Введите название улицы">
                                                <mat-error>
                                                    <el-backend-error-message *ngIf="errorsProps"
                                                        [backendErrors]="errorsProps"
                                                        namePropertyBackendError="SettlementName"
                                                        [formControlForBackendError]="streetNameControl">
                                                    </el-backend-error-message>
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="!streetNameControl.hasError('minLength', 'maxLength') && !streetNameControl.hasError('required') && !streetNameControl.hasError('backendErrorMessage')">
                                                    Название должно быть от {{minSettlementName}} до
                                                    {{maxSettlementName}}
                                                    символов
                                                </mat-error>
                                                <mat-error *ngIf="streetNameControl.hasError('required')">
                                                    Название улицы <strong>обязательное</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </fieldset>
                                        <fieldset
                                            class="col col-sm-5 col-md-4 col-lg-3 col-xl-3 mr-sm-2 mr-md-0 form-group">
                                            <mat-form-field [color]="houseNumberControl.valid && 'accent'"
                                                appearance="fill">
                                                <mat-label>Номер дома</mat-label>
                                                <input type="text" matInput [formControl]="houseNumberControl"
                                                    placeholder="Введите номер дома">
                                                <mat-error>
                                                    <el-backend-error-message *ngIf="errorsProps"
                                                        [backendErrors]="errorsProps"
                                                        namePropertyBackendError="HouseNumber"
                                                        [formControlForBackendError]="houseNumberControl">
                                                    </el-backend-error-message>
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="!houseNumberControl.hasError('maxLength') && !houseNumberControl.hasError('backendErrorMessage')">
                                                    Номер дома должен быть не более {{maxHouseNumber}} символов
                                                </mat-error>
                                            </mat-form-field>
                                        </fieldset>
                                        <fieldset class="col col-sm-5 col-md-4 col-lg-3 col-xl-3 form-group">
                                            <mat-form-field [color]="apartmentNumberControl.valid && 'accent'"
                                                appearance="fill">
                                                <mat-label>Номер квартиры</mat-label>
                                                <input type="number" matInput [formControl]="apartmentNumberControl"
                                                    placeholder="Введите номер квартиры">
                                                <mat-error>
                                                    <el-backend-error-message *ngIf="errorsProps"
                                                        [backendErrors]="errorsProps"
                                                        namePropertyBackendError="ApartmentNumber"
                                                        [formControlForBackendError]="apartmentNumberControl">
                                                    </el-backend-error-message>
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="apartmentNumberControl.hasError('max') && !apartmentNumberControl.hasError('backendErrorMessage')">
                                                    Номер квартиры должен быть не более {{maxApartmentNumber}} символов
                                                </mat-error>
                                            </mat-form-field>
                                        </fieldset>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <button class="my-1 py-1 col-sm-auto" mat-raised-button color="elegant"
                                                matStepperPrevious>
                                                <fa-icon [icon]="faStepBackward" size="lg" class="pr-2"
                                                    transform="grow-1">
                                                </fa-icon>
                                                Назад
                                            </button>
                                            <button class="my-1 py-1 col-sm-auto float-right" mat-raised-button
                                                color="secondary" matStepperNext>
                                                Далее
                                                <fa-icon [icon]="faStepForward" size="lg" class="pl-2"
                                                    transform="grow-1">
                                                </fa-icon>
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </mat-step>

                        <mat-step [stepControl]="priceForm" state="priceStep">
                            <form [formGroup]="priceForm">
                                <ng-template matStepLabel>Цена</ng-template>
                                <fieldset class="container">
                                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2">
                                        <fieldset class="col col-md-4 col-lg-3 col-xl-2 form-group">
                                            <mat-form-field [color]="priceTypeControl.valid && 'accent'"
                                                appearance="fill">
                                                <mat-label>Тип оплаты</mat-label>
                                                <mat-select [formControl]="priceTypeControl">
                                                    <mat-option *ngFor="let priceType of priceTypes"
                                                        [value]="priceType.name">
                                                        {{priceType.display}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error>
                                                    <el-backend-error-message *ngIf="errorsProps"
                                                        [backendErrors]="errorsProps"
                                                        namePropertyBackendError="PriceType"
                                                        [formControlForBackendError]="priceTypeControl">
                                                    </el-backend-error-message>
                                                </mat-error>
                                                <mat-error *ngIf="priceTypeControl.hasError('required')">
                                                    Выберете тип оплаты
                                                </mat-error>
                                            </mat-form-field>
                                        </fieldset>
                                        <fieldset class="col col-md-8 col-lg-4 col-xl-4 form-group">
                                            <mat-form-field [color]="priceControl.valid && 'accent'" appearance="fill">
                                                <mat-label>Цена</mat-label>
                                                <input type="number" matInput [formControl]="priceControl"
                                                    placeholder="Введите цену">
                                                <mat-error>
                                                    <el-backend-error-message *ngIf="errorsProps"
                                                        [backendErrors]="errorsProps" namePropertyBackendError="Price"
                                                        [formControlForBackendError]="priceControl">
                                                    </el-backend-error-message>
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="!priceControl.hasError('min', 'max') && !priceControl.hasError('required') && !priceControl.hasError('backendErrorMessage')">
                                                    Цена должна быть в диапазоне от {{minPrice}} до {{maxPrice}}
                                                </mat-error>
                                                <mat-error *ngIf="priceControl.hasError('required')">
                                                    Указание цены <strong>обязательное</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </fieldset>
                                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                            <button class="my-1 py-1 col-sm-auto" mat-raised-button color="elegant"
                                                matStepperPrevious>
                                                <fa-icon [icon]="faStepBackward" size="lg" class="pr-2"
                                                    transform="grow-1">
                                                </fa-icon>
                                                Назад
                                            </button>
                                            <button class="my-1 py-1 col-sm-auto float-right" mat-raised-button
                                                color="secondary" matStepperNext>
                                                Далее
                                                <fa-icon [icon]="faStepForward" size="lg" class="pl-2"
                                                    transform="grow-1">
                                                </fa-icon>
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </mat-step>

                        <mat-step [stepControl]="datepickerForm" state="datepickerStep">
                            <form [formGroup]="datepickerForm">
                                <ng-template matStepLabel>Дата сдачи в аренду</ng-template>
                                <fieldset class="container">
                                    <div class="row row-cols-1 row-cols-md-2">
                                        <fieldset class="col form-group">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Дата начала аренды</mat-label>
                                                <input matInput [matDatepicker]="startOfLease"
                                                    [formControl]="startOfLeaseControl" [min]="currentDate">
                                                <mat-datepicker-toggle matSuffix [for]="startOfLease">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker [touchUi]="(isHandset$ | async)" #startOfLease>
                                                </mat-datepicker>
                                                <mat-error>
                                                    <el-backend-error-message *ngIf="errorsProps"
                                                        [backendErrors]="errorsProps"
                                                        namePropertyBackendError="StartOfLease"
                                                        [formControlForBackendError]="startOfLeaseControl">
                                                    </el-backend-error-message>
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="!startOfLeaseControl.hasError('matDatepickerMin') && startOfLeaseControl.hasError('matDatepickerParse')">
                                                    Не верный формат даты
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="!startOfLeaseControl.hasError('required') && startOfLeaseControl.hasError('matDatepickerMin')">
                                                    Дата начала аренды не может быть в прошлом
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="startOfLeaseControl.hasError('required') && !startOfLeaseControl.hasError('matDatepickerParse')">
                                                    Укажите дату начала аренды
                                                </mat-error>
                                            </mat-form-field>
                                        </fieldset>
                                        <fieldset class="col form-group">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Дата окончание аренды</mat-label>
                                                <input matInput [matDatepicker]="endOfLease"
                                                    [formControl]="endOfLeaseControl"
                                                    [min]="minDateEndOfLease(startOfLeaseControl.value)">
                                                <mat-datepicker-toggle matSuffix [for]="endOfLease">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker [touchUi]="(isHandset$ | async)" #endOfLease>
                                                </mat-datepicker>
                                                <mat-error>
                                                    <el-backend-error-message *ngIf="errorsProps"
                                                        [backendErrors]="errorsProps"
                                                        namePropertyBackendError="EndOfLease"
                                                        [formControlForBackendError]="endOfLeaseControl">
                                                    </el-backend-error-message>
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="!endOfLeaseControl.hasError('matDatepickerMin') && endOfLeaseControl.hasError('matDatepickerParse')">
                                                    Не верный формат даты
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="!endOfLeaseControl.hasError('required') && endOfLeaseControl.hasError('matDatepickerMin')">
                                                    Дата окончания аренды не может быть позже начала аренды
                                                </mat-error>
                                            </mat-form-field>
                                        </fieldset>
                                        <div class="col-12 col-md-12">
                                            <button class="my-1 py-1 col-sm-auto" mat-raised-button color="elegant"
                                                matStepperPrevious>
                                                <fa-icon [icon]="faStepBackward" size="lg" class="pr-2"
                                                    transform="grow-1">
                                                </fa-icon>
                                                Назад
                                            </button>
                                            <button class="my-1 py-1 col-sm-auto float-right" mat-raised-button
                                                color="secondary" matStepperNext>
                                                Далее
                                                <fa-icon [icon]="faStepForward" size="lg" class="pl-2"
                                                    transform="grow-1">
                                                </fa-icon>
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </mat-step>

                        <mat-step [stepControl]="comfortForm" state="comfortStep">
                            <form [formGroup]="comfortForm">
                                <ng-template matStepLabel>Список удобств</ng-template>
                                <fieldset class="container">
                                    <fieldset class="form-group">
                                        <mat-label>Выберите имеющиеся удобства из списка</mat-label>
                                        <mat-selection-list
                                            class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4"
                                            [formControl]="comfortListControl" [(ngModel)]="selectedComfortList">
                                            <mat-list-option class="col m-0" [checkboxPosition]="'before'"
                                                *ngFor="let comfort of comforts" [value]="comfort" [selected]="false">
                                                {{comfort}}
                                            </mat-list-option>
                                        </mat-selection-list>
                                        <mat-error>
                                            <el-backend-error-message *ngIf="errorsProps" [backendErrors]="errorsProps"
                                                namePropertyBackendError="ComfortList"
                                                [formControlForBackendError]="comfortListControl">
                                            </el-backend-error-message>
                                        </mat-error>
                                    </fieldset>
                                    <div class="col-12">
                                        <button class="my-1 py-1 col-sm-auto" mat-raised-button color="elegant"
                                            matStepperPrevious>
                                            <fa-icon [icon]="faStepBackward" size="lg" class="pr-2" transform="grow-1">
                                            </fa-icon>
                                            Назад
                                        </button>
                                        <button class="my-1 py-1 col-sm-auto float-right" mat-raised-button
                                            color="secondary" matStepperNext>
                                            Далее
                                            <fa-icon [icon]="faStepForward" size="lg" class="pl-2" transform="grow-1">
                                            </fa-icon>
                                        </button>
                                    </div>
                                </fieldset>
                            </form>
                        </mat-step>

                        <mat-step [stepControl]="tagForm" state="tagStep">
                            <form [formGroup]="tagForm">
                                <ng-template matStepLabel>Список тегов</ng-template>
                                <fieldset class="container">
                                    <div class="row row-cols-1">
                                        <fieldset class="col form-group">
                                            <mat-form-field [color]="tagListControl.valid && 'accent'"
                                                appearance="fill">
                                                <mat-label>Теги</mat-label>
                                                <mat-chip-list #tagList aria-label="Tags selection">
                                                    <mat-chip *ngFor="let tag of tags" [selectable]="selectableTag"
                                                        [removable]="removableTag" (removed)="removeTag(tag)">
                                                        {{tag}}
                                                        <fa-icon [icon]="faTimes" matChipRemove *ngIf="removableTag"
                                                            size="lg" class="">
                                                        </fa-icon>
                                                    </mat-chip>
                                                    <input placeholder="Введите теги..." [matChipInputFor]="tagList"
                                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                        [matChipInputAddOnBlur]="addOnBlurForTag"
                                                        [formControl]="tagListControl"
                                                        (matChipInputTokenEnd)="addTag($event)">
                                                </mat-chip-list>
                                                <mat-error>
                                                    <el-backend-error-message *ngIf="errorsProps"
                                                        [backendErrors]="errorsProps" namePropertyBackendError="TagList"
                                                        [formControlForBackendError]="tagListControl">
                                                    </el-backend-error-message>
                                                </mat-error>
                                                <mat-error *ngIf="tagListControl.hasError('maxLength')">
                                                    Длина тега не должна перевешать {{maxTag}}
                                                </mat-error>
                                            </mat-form-field>
                                        </fieldset>
                                        <div class="col-12">
                                            <button class="my-1 py-1 mr-md-1 col-md-auto" mat-raised-button
                                                color="elegant" matStepperPrevious>
                                                <fa-icon [icon]="faStepBackward" size="lg" class="pr-2"
                                                    transform="grow-1">
                                                </fa-icon>
                                                Назад
                                            </button>
                                            <button class="my-1 py-1 col-md-auto" mat-raised-button color="warn"
                                                (click)="resetFormAdvert()">
                                                <fa-icon [icon]="faTimesCircle" size="lg" class="pr-2"
                                                    transform="grow-1">
                                                </fa-icon>
                                                Сбросить все
                                            </button>
                                            <button class="my-1 py-1 col-md-auto float-right" type="submit"
                                                mat-raised-button (click)="onSubmit()" [disabled]="(isSubmittingProps)"
                                                color="success">
                                                <fa-icon [icon]="faSpinner" size="lg" [pulse]="true" class="pr-3"
                                                    *ngIf="isSubmittingProps">
                                                </fa-icon>
                                                <fa-icon [icon]="faFlagCheckered" size="lg" class="pr-2"
                                                    transform="grow-2">
                                                </fa-icon>
                                                Опубликовать
                                            </button>
                                            <!-- <button class="my-1 py-1 col-md-auto float-right" type="submit" mat-raised-button
                                            (click)="onSubmit()" [disabled]="(isSubmittingProps || realtyTypeForm.invalid || descriptionForm.invalid 
                                            || apartmentParametersForm.invalid || addressForm.invalid || priceForm.invalid 
                                            || datepickerForm.invalid || comfortForm.invalid || tagForm.invalid)"
                                            color="success">
                                            <fa-icon [icon]="faSpinner" size="lg" [pulse]="true" class="pr-3"
                                                *ngIf="isSubmittingProps">
                                            </fa-icon>
                                            <fa-icon [icon]="faFlagCheckered" size="lg" class="pr-2" transform="grow-2">
                                            </fa-icon>
                                            Опубликовать
                                        </button> -->
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </mat-step>

                        <!-- Icon overrides. -->
                        <ng-template matStepperIcon="edit">
                            <fa-icon [icon]="faPenAlt" size="lg" class="pl-1" transform="grow-2"></fa-icon>
                        </ng-template>
                        <ng-template matStepperIcon="done">
                            <fa-icon [icon]="faCheck" size="lg" class="" transform="grow-2"></fa-icon>
                        </ng-template>
                        <ng-template matStepperIcon="error">
                            <fa-icon [icon]="faExclamationTriangle" size="2x" class=""></fa-icon>
                        </ng-template>

                        <ng-template matStepperIcon="realtyTypeStep">
                            <fa-icon [icon]="faBuilding" size="lg" class="" transform="grow-2"></fa-icon>
                        </ng-template>
                        <ng-template matStepperIcon="descriptionStep">
                            <fa-icon [icon]="faFileAlt" size="lg" class="" transform="grow-2"></fa-icon>
                        </ng-template>
                        <ng-template matStepperIcon="apartmentParametersStep">
                            <fa-icon [icon]="faLayerGroup" size="lg" class="" transform="grow-2"></fa-icon>
                        </ng-template>
                        <ng-template matStepperIcon="addressStep">
                            <fa-icon [icon]="faMapMarkedAlt" size="lg" class="" transform="grow-2"></fa-icon>
                        </ng-template>
                        <ng-template matStepperIcon="priceStep">
                            <fa-icon [icon]="faHryvnia" size="lg" class="" transform="grow-2"></fa-icon>
                        </ng-template>
                        <ng-template matStepperIcon="datepickerStep">
                            <fa-icon [icon]="faCalendarAlt" size="lg" class="" transform="grow-2"></fa-icon>
                        </ng-template>
                        <ng-template matStepperIcon="comfortStep">
                            <fa-icon [icon]="faCouch" size="lg" class="" transform="grow-2"></fa-icon>
                        </ng-template>
                        <ng-template matStepperIcon="tagStep">
                            <fa-icon [icon]="faHashTag" size="lg" class="" transform="grow-2"></fa-icon>
                        </ng-template>
                    </mat-vertical-stepper>
                </div>
            </div>
        </div>
    </div>
</div>