<div class="main-content">
    <el-banner title="Список объявлений" description="Вы можете разместить здесь свое объявление бесплатно!">
    </el-banner>
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10">
                FEED TOGGLER
                <el-feed [apiUrl]="apiUrlArticles"></el-feed>
            </div>
            <div class="col-1 col-xl-2 d-none d-xl-block">
                <el-tags [apiUrl]="apiUrlTags"></el-tags>
            </div>
        </div>
    </div>
</div>