<mat-toolbar class="navbar fixed-top" color="primary">
    <div class="container px-0">
        <button mat-fab color="primary" class="el-btn-nav btn-lg">
            <fa-icon [icon]="faBars" class="el-icon-btn-drop-shadow" size="lg" transform="grow-2">
            </fa-icon>
        </button>
        &nbsp;&nbsp;
        <a [routerLink]="['/']">
            <fa-icon [icon]="faAsymmetrik" class="el-icon-drop-shadow px-1" size="2x" style="color:aquamarine">
            </fa-icon>
        </a>
        &nbsp;&nbsp;
        <div class="logo d-none d-md-block">
            <a [routerLink]="['/']" class="brand-text logo-normal">
                {{brandNameProps}}
            </a>
        </div>
        <span class="spacer"></span>
        <div class="pull-right">
            <ng-container *ngIf="isLoggedIn$ | async">
                <button mat-raised-button [routerLink]="['/articles/new']" class="el-btn-nav mx-1 px-4 py-2">
                    <div class="row">
                        <fa-icon [icon]="faPencilAlt" size="lg" class="col el-icon-btn-drop-shadow px-2"
                            transform="grow-6">
                        </fa-icon>
                        <div class="col d-none d-lg-block link-text px-1">
                            Новое объявление
                        </div>
                    </div>
                </button>
                <button mat-raised-button [routerLink]="['/settings']" class="el-btn-nav mx-1 px-4 py-2">
                    <div class="row">
                        <fa-icon [icon]="faUserCog" size="lg" class="col el-icon-btn-drop-shadow px-2"
                            transform="grow-6">
                        </fa-icon>
                        <div class="col d-none d-lg-block link-text px-1">
                            Настройки
                        </div>
                    </div>
                </button>
                <button mat-raised-button [routerLink]="['/profiles', ((currentUser$ | async)!.username)]"
                    class="el-btn-nav mx-1 px-4 py-2">
                    <div class="row">
                        <fa-icon [icon]="faSmile" size="lg" class="col el-icon-btn-drop-shadow px-2" transform="grow-6">
                        </fa-icon>
                        <div class="col d-none d-md-block link-text px-1">
                            <img [src]="((currentUser$ | async)!.image)" class="d-block w-100" />
                            {{((currentUser$ | async)!.username)}}
                        </div>
                    </div>
                </button>
            </ng-container>
            <ng-container *ngIf="isAnonymous$ | async">
                <button mat-raised-button [routerLink]="['/login']" class="el-btn-nav mx-1 px-4 py-2">
                    <div class="row">
                        <fa-icon [icon]="faSignInAlt" size="lg" class="col el-icon-btn-drop-shadow px-2"
                            transform="grow-12">
                        </fa-icon>
                        <div class="col d-none d-md-block link-text px-2">
                            Войти
                        </div>
                    </div>
                </button>
                <button mat-raised-button [routerLink]="['/register']" class="el-btn-nav mx-1 px-4 py-2">
                    <div class="row">
                        <fa-icon [icon]="faUserPlus" size="lg" class="col el-icon-btn-drop-shadow px-2"
                            transform="grow-6">
                        </fa-icon>
                        <div class="col d-none d-md-block link-text px-1">
                            Зарегистрироваться
                        </div>
                    </div>
                </button>
            </ng-container>
        </div>
    </div>
</mat-toolbar>