.card {
  min-height: 260px;
}

.card-title {
  max-height: 48px;
}

.card-description {
  max-height: 80px;
}

.user-icon {
  max-width: 30px;
}

.content {
  min-height: 240px;
}

.tag-list {
  min-height: 35px;
  max-height: 70px;
}

// .card-img {
//   min-height: 240px;
// }
