.card {
  min-height: 260px;
}

.card-title {
  max-height: 30px;
}

.card-text {
  max-height: 25px;
}
.card-description {
  max-height: 80px;
}

.user-icon {
  max-width: 30px;
}

.content {
  min-height: 240px;

  @media only screen and (min-width: 768px) {
    min-height: 240px;
  }

  @media only screen and (min-width: 992px) {
    min-height: 240px;
    max-height: 260px;
  }
  @media only screen and (min-width: 1200px) {
    min-height: 240px;
    max-height: 260px;
  }
}

.desc {
  @media only screen and (min-width: 768px) {
    flex: 0 0 50%;
    min-width: 80%; //73%
  }

  @media only screen and (min-width: 780px) {
    flex: 0 0 50%;
    min-width: 77%; //74%
  }

  @media only screen and (min-width: 880px) {
    flex: 0 0 50%;
    min-width: 78%;
  }

  @media only screen and (min-width: 992px) {
    flex: 0 0 49%;
    min-width: 48%;
  }
  @media only screen and (min-width: 1200px) {
    flex: 0 0 50%;
    min-width: 53%;
  }
}

.price {
  min-width: 70px;
  max-width: 80px;

  @media only screen and (min-width: 360px) {
    max-width: 120px;
  }

  @media only screen and (min-width: 576px) {
    max-width: 150px;
  }
  @media only screen and (min-width: 768px) {
    max-width: 105px;
  }
}

.comfort-list {
  min-height: 35px;
  max-height: 72px;

  @media only screen and (min-width: 992px) {
    height: 35px;
    //margin-bottom: 0rem;
  }
}

.favorite {
  @media only screen and (min-width: 768px) {
    max-width: min-content;
  }
}

.img-wrapper img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 300px;

  @media only screen and (min-width: 360px) {
    height: 300px;
    //margin-bottom: 0.5rem;
  }

  @media only screen and (min-width: 576px) {
    height: 380px;
    margin-bottom: 0.5rem;
  }

  @media only screen and (min-width: 768px) {
    height: 480px;
    margin-bottom: 1rem;
  }

  @media only screen and (min-width: 992px) {
    height: 260px;
    margin-bottom: 0rem;
  }
}
