<ngx-dropzone class="custom-dropzone" [maxFileSize]="maxFileSizeProps" [accept]="acceptExtensions"
    (change)="addPhoto($event)" [expandable]="expandVerticallyProps" [multiple]="allowMultipleFilesProps">
    <ngx-dropzone-label>
        <div>
            <h3 class="mb-0" *ngIf="!allowMultipleFilesProps"> <strong>Выберите фотографию и переместите её
                    сюда</strong></h3>
            <h3 class="mb-0" *ngIf="allowMultipleFilesProps"> <strong>Выберите фотографии и переместите их
                    сюда</strong></h3>
            <h4 class="mb-0">(Максимальный размер одного фото - {{maxFileSizeProps /
                (1024*1024)}}Mb.)
            </h4>
            <h4>(Допустимые расширения файлов: {{allowedExtensionsProps.join(" ")}})
            </h4>
        </div>
    </ngx-dropzone-label>
    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let photo of photos" [file]="photo"
        [removable]="true" (removed)="removePhoto(photo)">
        <!-- <ngx-dropzone-label>{{ photo.size/1024 }}kb ({{ photo.type }})
                    </ngx-dropzone-label> -->
    </ngx-dropzone-image-preview>
</ngx-dropzone>
<div class="error-photo mx-2 mt-2" [@errorPhotoAnimate]="(errorPhotoAnimate)?'true':'false'">
    <mat-error *ngIf="(backendErrorsProps && namePropertyBackendErrorProps)">
        <div *ngFor="let error of backendErrorsProps[namePropertyBackendErrorProps]">
            {{error}}
        </div>
    </mat-error>
    <mat-error *ngFor="let rejectedPhoto of rejectedPhotos">
        <container-element [ngSwitch]="rejectedPhoto.reason">
            <div *ngSwitchCase="'size'">
                Файл
                <strong>"{{rejectedPhoto.name}}"</strong>
                был отклонен, он имеет размер
                больше
                чем {{maxFileSizeProps / (1024*1024)}}Mb.
            </div>
            <div *ngSwitchCase="'type'">Файл
                <strong>"{{rejectedPhoto.name}}"</strong>
                был отклонен, он имеет недопустимое
                расширение.
            </div>
        </container-element>
    </mat-error>
    <mat-error *ngIf="photoLimitExceeded">
        Количество фото не может быть больше {{maxNumberPhotoProps}} шт.
    </mat-error>
</div>