<div class="main-content d-flex h-100">
    <div class="container-fluid align-self-center mw-sm">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h1 class="card-title el-title text-center register-title">Регистрация</h1>
                    </div>
                    <div class="card-body">
                        <!-- Backend errors are here ---bError: {{username.hasError('backendErrorMessage')}} ---required:
                        {{username.hasError('required')}} -->
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <fieldset>
                                <fieldset class="form-group">
                                    <mat-form-field [color]="userName.valid && 'accent'">
                                        <mat-label>Имя</mat-label>
                                        <input type="text" matInput [formControl]="userName"
                                            placeholder="Имя пользователя" autocomplete="username">
                                        <mat-error>
                                            <el-backend-error-message *ngIf="(backendErrors$ | async)!"
                                                [backendErrors]="(backendErrors$ | async)!"
                                                namePropertyBackendError="UserName"
                                                [formControlForBackendError]="userName">
                                            </el-backend-error-message>
                                        </mat-error>
                                        <mat-error
                                            *ngIf="!userName.hasError('minLength', 'maxLength') && !userName.hasError('required') && !userName.hasError('backendErrorMessage')">
                                            Имя должно быть от {{minName}} до {{maxName}} символов
                                        </mat-error>
                                        <mat-error *ngIf="userName.hasError('required')">
                                            Имя <strong>обязательное</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </fieldset>
                                <fieldset class="form-group">
                                    <mat-form-field [color]="email.valid && 'accent'">
                                        <mat-label>Электронная почта</mat-label>
                                        <input type="email" matInput [formControl]="email"
                                            placeholder="Электронная почта" value="me@example.test"
                                            autocomplete="username">
                                        <mat-error>
                                            <el-backend-error-message *ngIf="(backendErrors$ | async)!"
                                                [backendErrors]="(backendErrors$ | async)!"
                                                namePropertyBackendError="Email" [formControlForBackendError]="email">
                                            </el-backend-error-message>
                                        </mat-error>
                                        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                                            Пожалуйста введите корректный Email адрес
                                        </mat-error>
                                        <mat-error *ngIf="email.hasError('required')">
                                            Email <strong>обязательный</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </fieldset>
                                <fieldset class="form-group">
                                    <mat-form-field [color]="password.valid && 'accent'">
                                        <mat-label>Пароль</mat-label>
                                        <input type="password" matInput [formControl]="password" placeholder="Пароль"
                                            autocomplete="new-password">
                                        <mat-error>
                                            <el-backend-error-message *ngIf="(backendErrors$ | async)!"
                                                [backendErrors]="(backendErrors$ | async)!"
                                                namePropertyBackendError="Password"
                                                [formControlForBackendError]="password">
                                            </el-backend-error-message>
                                        </mat-error>
                                        <mat-error
                                            *ngIf="!password.hasError('minLength') && !password.hasError('required') && !password.hasError('backendErrorMessage')">
                                            Пароль должен быть не меньше {{minPassword}} символов
                                        </mat-error>
                                        <mat-error *ngIf="password.hasError('required')">
                                            Пароль <strong>обязательный</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </fieldset>
                                <fieldset class="form-group">
                                    <mat-form-field [color]="confirmPassword.valid && 'accent'">
                                        <mat-label>Пароль</mat-label>
                                        <input type="password" matInput [formControl]="confirmPassword"
                                            placeholder="Пароль" autocomplete="new-password">
                                        <mat-error>
                                            <el-backend-error-message *ngIf="(backendErrors$ | async)!"
                                                [backendErrors]="(backendErrors$ | async)!"
                                                namePropertyBackendError="ConfirmPassword"
                                                [formControlForBackendError]="confirmPassword">
                                            </el-backend-error-message>
                                        </mat-error>
                                        <mat-error
                                            *ngIf="!confirmPassword.hasError('required') && confirmPassword.hasError('mismatch')">
                                            Пароли не совпадают
                                        </mat-error>
                                        <mat-error *ngIf="confirmPassword.hasError('required')">
                                            Пароль <strong>обязательный</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </fieldset>
                            </fieldset>
                            <div class="row justify-content-between m-1 mt-2">
                                <button class="btn-text order-sm-1 order-md-2 col-12 col-md-auto my-1 py-1"
                                    type="submit" mat-raised-button [disabled]="(isSubmitting$ | async) || form.invalid"
                                    color="info">
                                    <fa-icon [icon]="faSpinner" size="lg" [pulse]="true" class="pr-2"
                                        *ngIf="(isSubmitting$ | async)">
                                    </fa-icon>
                                    <fa-icon [icon]="faUserPlus" size="lg" class="pr-1">
                                    </fa-icon>
                                    Зарегистрироваться
                                </button>
                                <button class="btn-text order-sm-2 order-md-1 col-12 col-md-auto my-1 py-1"
                                    [routerLink]="[ '/authentication/login' ]" mat-raised-button color="primary">
                                    <fa-icon [icon]="faSignInAlt" size="lg" class="pr-2" transform="grow-4">
                                    </fa-icon>
                                    Войти
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>