<div class="main-content d-flex h-100">
    <div class="container-fluid align-self-center mw-sm">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h1 class="card-title text-center register-title">Регистрация</h1>
                    </div>
                    <div class="card-body">
                        Backend errors are here
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <fieldset>
                                <fieldset class="form-group">
                                    <mat-form-field>
                                        <mat-label>Имя</mat-label>
                                        <input type="text" matInput [formControl]="username"
                                            placeholder="Имя пользователя">
                                        <mat-error
                                            *ngIf="!username.hasError('minLength', 'maxLength') && !username.hasError('required')">
                                            Имя должно быть от {{minName}} до {{maxName}} символов
                                        </mat-error>
                                        <mat-error *ngIf="username.hasError('required')">
                                            Имя <strong>обязательное</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </fieldset>
                                <fieldset class="form-group">
                                    <mat-form-field>
                                        <mat-label>Электронная почта</mat-label>
                                        <input type="email" matInput [formControl]="email"
                                            placeholder="Электронная почта">
                                        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                                            Пожалуйста введите корректный Email адрес
                                        </mat-error>
                                        <mat-error *ngIf="email.hasError('required')">
                                            Email <strong>обязательный</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </fieldset>
                                <fieldset class="form-group">
                                    <mat-form-field>
                                        <mat-label>Пароль</mat-label>
                                        <input type="password" matInput [formControl]="password" placeholder="Пароль">
                                        <mat-error
                                            *ngIf="!password.hasError('minLength') && !password.hasError('required')">
                                            Пароль должен быть не меньше {{minPassword}} символов
                                        </mat-error>
                                        <mat-error *ngIf="password.hasError('required')">
                                            Пароль <strong>обязательный</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </fieldset>
                                <fieldset class="form-group">
                                    <mat-form-field>
                                        <mat-label>Пароль</mat-label>
                                        <input type="password" matInput [formControl]="confirmPassword"
                                            placeholder="Пароль">
                                        <mat-error
                                            *ngIf="!confirmPassword.hasError('required') && confirmPassword.hasError('mismatch')">
                                            Пароли не совпадают
                                        </mat-error>
                                        <mat-error *ngIf="confirmPassword.hasError('required')">
                                            Пароль <strong>обязательный</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </fieldset>
                            </fieldset>
                            <div class="row justify-content-between m-1">
                                <button class="btn btn-md btn-info order-sm-1 order-md-2 h5 col-12 col-md-auto"
                                    type="submit"><i class="material-icons material-icons md-24">person_add</i>
                                    &nbsp; Зарегистрироваться</button>
                                <button class="btn btn-md btn-warning order-sm-2 order-md-1 h5 col-12 col-md-auto"
                                    [routerLink]="[ '/login' ]">
                                    <i class="material-icons material-icons md-24">person</i> &nbsp; Войти
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>