<div class="container">
    <el-loading *ngIf="isLoading$ | async"></el-loading>
    <el-error-message *ngIf="isFalling$ | async"></el-error-message>

    <div class="row" *ngIf="!(isLoading$ | async)">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <h1 class="card-title el-title text-center">Фото объявления</h1>
                </div>
                <div class="card-body mt-4">
                    <el-photo-dropzone [initialValues]="(initialValues$ | async)"
                        [backendErrors]="(backendErrors$ | async)" [namePropertyBackendError]="'photos'"
                        [AllowMultipleFiles]="true" [allowedExtensions]="allowedExtensions"
                        [maxNumberPhoto]="maxNumberPhoto" (dropzoneChange)="putPhoto($event)"
                        [expandVertically]="!(isHandset$ | async)!" [maxFileSize]="maxFileSize">
                    </el-photo-dropzone>
                </div>
                <div class="card-header mb-2 mt-0">
                    <button *ngIf="type === TypeOperation.Editing" class="my-1 py-1 col-sm-auto float-left"
                        mat-raised-button (click)="onDeleteAllPhoto()"
                        [disabled]="(isDeleting$ | async) || (photos && photos.length == 0)" color="warn">
                        <fa-icon [icon]="faSpinner" size="lg" [pulse]="true" class="pr-3" *ngIf="(isDeleting$ | async)">
                        </fa-icon>
                        <fa-icon [icon]="faTimesCircle" size="lg" class="pr-2" transform="grow-1">
                        </fa-icon>
                        Удалить все
                    </button>
                    <button class="my-1 py-1 col-sm-auto float-right" type="submit" mat-raised-button
                        (click)="onSubmit()" [disabled]="(isSubmitting$ | async) || (photos && photos.length == 0)"
                        color="success">
                        <fa-icon [icon]="faSpinner" size="lg" [pulse]="true" class="pr-3"
                            *ngIf="(isSubmitting$ | async)">
                        </fa-icon>
                        <fa-icon [icon]="faSave" size="lg" class="pr-2" transform="grow-2">
                        </fa-icon>
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>