<footer class="text-center text-white mt-2 el-footer" style="font-size: 16px; z-index: 1;">

    <div class="container p-4 pb-0">

        <section class="">
            <p class="d-flex justify-content-center align-items-center">
                <span class="me-3">Register for free</span>
                <button type="button" class="btn btn-outline-light btn-rose btn-round ml-1">
                    Sign up!
                </button>
            </p>
            <p class="d-flex justify-content-center align-items-center">
                <fa-icon [icon]="faEnvelope" size="lg" class="el-icon-btn-drop-shadow p-2" [fixedWidth]="true"
                    transform="grow-6">
                </fa-icon>
                <a href="/" style="color: #ffffff; font-size: 15px;" class="">Nikolay-K.M.W@gmail.com</a>
            </p>
        </section>
    </div>
</footer>
<footer>
    <!-- Copyright -->
    <div class="el-copyright text-center p-3" style="color: #ffffff; font-size: 16px; z-index: 10;">
        © 2021 Copyright:
        <a class="text-white">K.M.W.</a>
    </div>
    <!-- Copyright -->

</footer>