<div class="main-content">
    <!-- <el-banner title="Список отслеживаемых объявлений"
        description="Вы можете добавлять сюда объявления которые вас интересуют">
    </el-banner> -->
    <div class="tags position-fixed d-none d-xl-block">
        <el-tags [apiUrl]="'/tags'"></el-tags>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- <el-feed-toggler [tagName]="'test'"></el-feed-toggler> -->
                <el-feed [apiUrl]="apiUrl"></el-feed>
            </div>
        </div>
    </div>
</div>