<div class="main-content">
    <div class="container mt-5 mb-1">
        <el-loading *ngIf="isLoading$ | async"></el-loading>
        <el-error-message *ngIf="error$ | async"></el-error-message>
        <div class="row justify-content-center" *ngIf="userProfile">
            <div class="col-12 col-md-10">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <div>
                            <img *ngIf="!userProfile.image" src="assets/img/avatar.png" />
                        </div>
                        <div>
                            <img *ngIf="userProfile.image"
                                [src]="bypassSecurityTrust('data:image/jpg/jpeg/png/gif;base64,' + userProfile.image)" />
                        </div>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">{{userProfile?.userName}}</h2>
                        <mat-divider *ngIf="userProfile.bio" class="m-2"></mat-divider>
                        <p class="card-description px-2" *ngIf="userProfile.bio"> {{userProfile?.bio}} Don't be scared
                            of the truth because we
                            need
                            to
                            restart the human
                            foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but
                            the back is...
                        </p>
                        <mat-divider class="m-2"></mat-divider>
                        <div class="bg-info text-white visit py-2 mx-2">
                            <div>На сайте c: {{userProfile.createdUser | date:'dd.MM.yyyyг.'}}</div>
                            <div>Последняя активность: {{userProfile.visitedUser | date:'dd.MM.yyyyг. HH:mm'}}</div>
                        </div>
                        <button class="my-1 py-0" mat-raised-button color="success"
                            *ngIf="isCurrentUserProfile$ | async" [routerLink]="[ '/profile/settings']">
                            <fa-icon [icon]="faUserCog" size="lg" class="pr-2" transform="grow-1">
                            </fa-icon>
                            Редактировать профиль
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <mat-tab-group dynamicHeight *ngIf="userProfile">
            <mat-tab label="Объявления пользователя">
                <el-feed [apiUrl]="apiUrl"></el-feed>
            </mat-tab>
            <mat-tab label="Отзови">
                <h2 class="m-3">No comments</h2>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>