// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// My custom typography config
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, Helvetica Neue, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $input: mat-typography-level(16px, 1.125, 400),
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$EasyLease-Angular-primary: mat-palette($mat-blue);
$EasyLease-Angular-accent: mat-palette($mat-green, A400, A200, A400);

// The warn palette is optional (defaults to red).
$EasyLease-Angular-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$EasyLease-Angular-theme: mat-light-theme(
  (
    color: (
      primary: $EasyLease-Angular-primary,
      accent: $EasyLease-Angular-accent,
      warn: $EasyLease-Angular-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($EasyLease-Angular-theme);

/* You can add global styles to this file, and also import other style files */

//===========================================================================
//================= Bootstrap brand color customization =====================
@function get-el-theme-colors($theme) {
  $primary: map-get($theme, primary);
  $secondary: mat-palette($mat-light-blue);
  $info: mat-palette($mat-cyan);
  $success: mat-palette($mat-teal);
  $accent: mat-palette($mat-green, A400);
  $golden: mat-palette($mat-yellow);
  $mandarin: mat-palette($mat-orange);
  $warn: map-get($theme, warn);
  $rose: mat-palette($mat-pink);
  $elegant: mat-palette($mat-blue-grey);

  @return (
    primary: $primary,
    secondary: $secondary,
    info: $info,
    success: $success,
    accent: $accent,
    golden: $golden,
    mandarin: $mandarin,
    warn: $warn,
    rose: $rose,
    elegant: $elegant
  );
}

$theme-bg-color: white;
$theme-fg-color: black;
$theme-body-bg-color: #eee;

$el-theme-colors: get-el-theme-colors($EasyLease-Angular-theme);

/*     brand Colors              */
$brand-primary: mat-color(map-get($el-theme-colors, primary)) !default;
$brand-secondary: mat-color(map-get($el-theme-colors, secondary)) !default;
$brand-info: mat-color(map-get($el-theme-colors, info)) !default;
$brand-success: mat-color(map-get($el-theme-colors, success)) !default;
$brand-warning: mat-color(map-get($el-theme-colors, mandarin)) !default;
$brand-danger: mat-color(map-get($el-theme-colors, warn)) !default;
$brand-rose: mat-color(map-get($el-theme-colors, rose)) !default;
$brand-default: mat-color(map-get($el-theme-colors, primary)) !default;
//$brand-inverse:              mat-color(map-get($EasyLease-Angular-theme, primary), 500) !default;

// The styles of Template - Material Dashboard Angular - v2.5.0
@import 'assets/scss/material-dashboard.scss';

//===========================================================================
//============================ My Utilities =================================
// Min. width limitation. Example: mw-sm, mw-md, mw-lg, mw-xl
// Link: https://dou.ua/lenta/articles/bootstrap-classes/
@each $name, $width in $container-max-widths {
  .mw-#{$name} {
    max-width: #{$width};
  }
}

@mixin el-box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

@mixin el-text-shadow($shadows...) {
  -moz-text-shadow: $shadows;
  -webkit-text-shadow: $shadows;
  text-shadow: $shadows;
}

@mixin el-drop-shadow-filter($shadows...) {
  -moz-filter: drop-shadow($shadows);
  -webkit-filter: drop-shadow($shadows);
  filter: drop-shadow($shadows);
}

@mixin el-linear-gradient($gradient...) {
  background: -webkit-linear-gradient($gradient) !important;
  background: -moz-linear-gradient($gradient) !important;
  background: linear-gradient($gradient) !important;
}

//===========================================================================
//======================= Generate my custom Style ==========================
@mixin generate-theme($theme, $bg-color, $fg-color, $body-bg-color) {
  //-----------------------------------------------------------------
  //*****************************************************************
  $container-theme-colors: get-el-theme-colors($theme);
  $primary: map-get($container-theme-colors, primary);
  $golden: map-get($container-theme-colors, golden);
  $elegant: map-get($container-theme-colors, elegant);
  //.................................................................
  @each $name, $color in $container-theme-colors {
    .mat-button.mat-#{$name},
    .mat-stroked-button.mat-#{$name},
    .mat-icon-button.mat-#{$name} {
      color: mat-color($color, 800);
      &:hover {
        background-color: mat-color($color, 100, 0.3);
      }
      &:active,
      &:focus {
        background-color: mat-color($color, 200, 0.4);
        border-color: mat-color($color, 200);
      }
      &:disabled {
        background-color: $bg-color;
      }
    }

    .mat-raised-button.mat-#{$name},
    .mat-fab.mat-#{$name},
    .mat-mini-fab.mat-#{$name} {
      background-color: mat-color($color, 500);
      color: mat-color($color, darker-contrast);
      &:hover {
        background-color: mat-color($color, 600);
        border-color: mat-color($color, 700);
      }
      &:active,
      &:focus {
        background-color: mat-color($color, 700);
        border-color: mat-color($color, 800);

        @include el-box-shadow(
          0 14px 26px -12px mat-color($color, 500, 0.42),
          0 4px 23px 0px rgb($fg-color, 0.12),
          0 8px 10px -5px mat-color($color, 500, 0.2)
        );
      }
      &:disabled {
        background-color: mat-color($color, 200);
        @include el-box-shadow(0 0 0 0 rgb($bg-color, 0));
        color: mat-color($color, darker-contrast);
      }
    }

    .mat-flat-button.mat-#{$name} {
      background-color: mat-color($color, 500);
      color: mat-color($color, darker-contrast);
      &:hover {
        background-color: mat-color($color, 600);
        border-color: mat-color($color, 700);
      }
      &:active,
      &:focus {
        background-color: mat-color($color, 700);
        border-color: mat-color($color, 800);
      }
    }
  }
  //-----------------------------------------------------------------
  @each $name, $color in $container-theme-colors {
    .card-header-#{$name} {
      @include el-linear-gradient(60deg, mat-color($color, 300), mat-color($color, 600));
      @include el-box-shadow(
        0 4px 20px 0px rgba($bg-color, 0.14),
        0 7px 10px -5px rgba(mat-color($color, 800), 0.6) !important
      );
    }
  }

  //-----------------------------------------------------------------
  //*****************************************************************
  $el-icon-shadow: 2px 3px 1px rgba($fg-color, 0.5);
  $el-icon-shadow-small: 1px 2px 1px rgba($fg-color, 0.5);
  //-----------------------------------------------------------------
  $el-icon-drop-shadow-hover: 3px 4px 1px rgba($fg-color, 0.5);
  $el-icon-btn-drop-shadow-hover: $el-icon-drop-shadow-hover;
  $el-icon-drop-shadow-focus: 0px 0px 6px rgba($bg-color, 0.7);
  $el-icon-btn-drop-shadow-focus: $el-icon-drop-shadow-focus;
  //.................................................................

  .ng-fa-icon {
    @extend .el-icon-shadow-small;
  }

  .el-icon-shadow {
    @include el-drop-shadow-filter($el-icon-shadow);
  }

  .el-icon-shadow-small {
    @include el-drop-shadow-filter($el-icon-shadow-small);
  }
  //-----------------------------------------------------------------

  .el-icon-drop-shadow {
    @include el-drop-shadow-filter($el-icon-shadow);
    &:hover {
      @include el-drop-shadow-filter($el-icon-drop-shadow-hover);
    }
    &:active,
    &:focus {
      @include el-drop-shadow-filter($el-icon-drop-shadow-focus);
    }
  }

  .el-icon-btn-drop-shadow {
    @include el-drop-shadow-filter($el-icon-shadow);
    &.active,
    &:active,
    &.focus,
    &:focus {
      @include el-drop-shadow-filter($el-icon-btn-drop-shadow-focus);
    }
    &.default,
    &:default {
      @include el-drop-shadow-filter($el-icon-shadow);
    }
  }

  .el-icon-side-nav {
    color: mat-color($golden, 600, 0.5);
    &.active,
    &:active,
    &.focus,
    &:focus {
      @include el-drop-shadow-filter($el-icon-btn-drop-shadow-focus);
      color: mat-color($golden, A200);
    }
  }

  //-----------------------------------------------------------------

  .el-btn-nav {
    font-family: inherit;
    color: $bg-color;
    background-color: mat-color($primary, 500);

    @include el-text-shadow(2px 2px 1px rgba($fg-color, 0.5));
    @include el-box-shadow(
      0px 14px 26px -12px rgba(mat-color($primary, 900), 0.42),
      0px 4px 23px 0px rgb($fg-color, 0.12),
      0px 8px 10px -5px rgb(mat-color($primary, 900), 0.2) !important
    );

    &:hover .el-icon-btn-drop-shadow {
      @include el-drop-shadow-filter($el-icon-btn-drop-shadow-hover);
    }
    &:hover {
      background-color: mat-color($primary, 400);
      border-color: mat-color($primary, 600);

      @include el-text-shadow(2px 3px 1px rgba($fg-color, 0.4));
    }

    &:focus .el-icon-btn-drop-shadow {
      @include el-drop-shadow-filter($el-icon-btn-drop-shadow-focus);
    }
    &.active,
    &:active,
    &.focus,
    &:focus {
      color: $bg-color;
      background-color: mat-color($primary, 600);
      border-color: mat-color($primary, 700);

      @include el-text-shadow(0px 0px 6px rgba($bg-color, 0.7), 1px 1px 1px rgba($fg-color, 0.3));
      @include el-box-shadow(
        0px 5px 10px 2px rgba(mat-color($primary, 900), 0.2) inset,
        0px 7px 10px 2px rgba($bg-color, 0.2) !important
      );
    }
    &.default,
    &:default {
      font-family: inherit;
      color: $bg-color;
      background-color: mat-color($primary, 500);
      border-color: mat-color($primary, 500);

      @include el-text-shadow(2px 2px 1px rgba($fg-color, 0.5));
      @include el-box-shadow(
        0px 14px 26px -12px rgba(mat-color($primary, 900), 0.42),
        0px 4px 23px 0px rgb($fg-color, 0.12),
        0px 8px 10px -5px rgb(mat-color($primary, 900), 0.2) !important
      );
    }
    &:disabled {
      background-color: mat-color($primary, 400) !important;
    }
  }
  //-----------------------------------------------------------------
  .el-btn-menu {
    font-family: inherit;
    color: $bg-color;
    background-color: mat-color($primary, 500);

    @include el-text-shadow(2px 2px 1px rgba($fg-color, 0.5));
    @include el-box-shadow(
      0px 14px 26px -12px rgba(mat-color($primary, 900), 0.42),
      0px 4px 23px 0px rgb($fg-color, 0.12),
      0px 8px 10px -5px rgb(mat-color($primary, 900), 0.2) !important
    );

    &:not(.active):hover .el-icon-btn-drop-shadow {
      @include el-drop-shadow-filter($el-icon-btn-drop-shadow-hover);
    }
    &:hover,
    &.default:hover {
      background-color: mat-color($primary, 400);
      border-color: mat-color($primary, 600);

      @include el-text-shadow(2px 3px 1px rgba($fg-color, 0.4));
    }

    &:not(.default):focus .el-icon-btn-drop-shadow {
      @include el-drop-shadow-filter($el-icon-btn-drop-shadow-focus);
    }
    &.active,
    &:active,
    &.focus,
    &:focus {
      color: $bg-color;
      background-color: mat-color($primary, 600);
      border-color: mat-color($primary, 700);

      @include el-text-shadow(0px 0px 6px rgba($bg-color, 0.7), 1px 1px 1px rgba($fg-color, 0.3));
      @include el-box-shadow(
        0px 5px 10px 2px rgba(mat-color($primary, 900), 0.2) inset,
        0px 7px 10px 2px rgba($bg-color, 0.2) !important
      );
    }
    &.default,
    &:default {
      font-family: inherit;
      color: $bg-color;
      background-color: mat-color($primary, 500);
      border-color: mat-color($primary, 500);

      @include el-text-shadow(2px 2px 1px rgba($fg-color, 0.5));
      @include el-box-shadow(
        0px 14px 26px -12px rgba(mat-color($primary, 900), 0.42),
        0px 4px 23px 0px rgb($fg-color, 0.12),
        0px 8px 10px -5px rgb(mat-color($primary, 900), 0.2) !important
      );
    }
    &:disabled {
      background-color: mat-color($primary, 400) !important;
    }
  }
  //-----------------------------------------------------------------

  .el-btn-side-nav {
    font-family: inherit;
    color: mat-color($elegant, 100) !important;
    background-color: rgba($bg-color, 0);
    border: none;

    @include el-text-shadow(2px 2px 1px rgba($fg-color, 0.5));

    &:hover {
      color: $bg-color !important;
      background-color: mat-color($elegant, 600, 0.4) !important;
    }

    &:hover .el-icon-side-nav {
      color: mat-color($golden, A400);
    }

    &:focus .el-icon-side-nav {
      @include el-drop-shadow-filter($el-icon-btn-drop-shadow-focus);
      color: mat-color($golden, A200);
    }

    &.active,
    &:active,
    &.focus,
    &:focus {
      color: $bg-color !important;
      background-color: mat-color($elegant, 900, 0.5) !important;

      @include el-text-shadow(0px 0px 6px rgba($bg-color, 0.7), 1px 1px 1px rgba($fg-color, 0.3));
    }
    &.default,
    &:default {
      font-family: inherit;
      color: mat-color($elegant, 100) !important;
      background-color: mat-color($elegant, 700, 0.5);
      border: none;

      @include el-text-shadow(2px 2px 1px rgba($fg-color, 0.5));
    }
    &:disabled {
      background-color: mat-color($elegant, 400, 0.5) !important;
    }
  }
  //-----------------------------------------------------------------
  //*****************************************************************
  .navbar {
    //background-color: mat-color($primary, 500) !important;
    @include el-linear-gradient(180deg, mat-color($primary, 500), mat-color($primary, 600));
  }

  .br-0 {
    border-radius: 0px !important;
  }

  .card-title {
    text-shadow: 0px 0px 6px rgba($bg-color, 0.7), 2px 3px 3px rgba($fg-color, 0.3);
  }

  .text-contrast {
    color: $fg-color !important;
  }

  .mat-drawer-container {
    //display: flex;y
    //flex-direction: column;
    //position: absolute;
    background-color: $body-bg-color;
    padding-top: 30px;
    height: 100%;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
  }

  .mat-drawer-backdrop.mat-drawer-shown {
    position: fixed;
  }

  .mat-sidenav {
    @include el-linear-gradient(270deg, mat-color($elegant, 600), mat-color($elegant, 800));
    @include el-box-shadow(0 4px 20px 8px rgba($fg-color, 0.4), 0 7px 10px -5px rgba(mat-color($primary, 500), 0.7));
  }

  .mat-menu {
    background-color: mat-color($elegant, 500) !important;
    //@include el-linear-gradient(45deg, mat-color($primary, 600), mat-color($primary, 800));
  }
  //-----------------------------------------------------------------
}
//===========================================================================

@include generate-theme($EasyLease-Angular-theme, $theme-bg-color, $theme-fg-color, $theme-body-bg-color);

html,
body {
  height: 100%;
}
body {
  margin: 0px;
  padding-top: 60px;
}
button {
  &:active,
  &:focus {
    outline: 0;
  }
}

//===========================================================================
//========================== Styles for Fonts ===============================
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 500;
  src: local('Lobster'), local('Lobster-Regular'), url('assets/fonts/Lobster/Lobster-Regular.ttf') format('truetype');
}

//===========================================================================
//==================== Styles for Material design icons ======================

// @font-face {
//   font-family: 'Material Icons';
//   font-style: normal;
//   font-weight: 400;
//   src: url('~material-design-icons/iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
//   src: local('Material Icons'), local('MaterialIcons-Regular'),
//     url('~material-design-icons/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
//     url('~material-design-icons/iconfont//MaterialIcons-Regular.woff') format('woff'),
//     url('~material-design-icons/iconfont/MaterialIcons-Regular.ttf') format('truetype');
// }

// .material-icons {
//   font-family: 'Material Icons';
//   font-weight: normal;
//   font-style: normal;
//   font-size: 24px; /* Preferred icon size */
//   display: inline-block;
//   line-height: 1;
//   text-transform: none;
//   letter-spacing: normal;
//   word-wrap: normal;
//   white-space: nowrap;
//   direction: ltr;

//   /* Support for all WebKit browsers. */
//   -webkit-font-smoothing: antialiased;
//   /* Support for Safari and Chrome. */
//   text-rendering: optimizeLegibility;

//   /* Support for Firefox. */
//   -moz-osx-font-smoothing: grayscale;

//   /* Support for IE. */
//   font-feature-settings: 'liga';
// }

// /* Rules for sizing the icon. */
// .material-icons.md-18 {
//   font-size: 18px;
// }
// .material-icons.md-24 {
//   font-size: 24px;
// }
// .material-icons.md-36 {
//   font-size: 36px;
// }
// .material-icons.md-48 {
//   font-size: 48px;
// }

// /* Rules for using icons as black on a light background. */
// .material-icons.md-dark {
//   color: rgba(0, 0, 0, 0.54);
// }
// .material-icons.md-dark.md-inactive {
//   color: rgba(0, 0, 0, 0.26);
// }

// /* Rules for using icons as white on a dark background. */
// .material-icons.md-light {
//   color: rgba(255, 255, 255, 1);
// }
// .material-icons.md-light.md-inactive {
//   color: rgba(255, 255, 255, 0.3);
// }
// //===========================================================================

//-----------------------------------------------------------------
// $el-btn-nav-color: $bg-color;
// $el-btn-nav-bg-color: mat-color($primary, 500);

// $el-btn-nav-text-shadow: 2px 2px 1px rgba($fg-color, 0.5);

// $el-btn-nav-box-shadow: 0px 14px 26px -12px rgba(mat-color($primary, 900), 0.42),
//   0px 4px 23px 0px rgb($fg-color, 0.12), 0px 8px 10px -5px rgb(mat-color($primary, 900), 0.2) !important;

// $el-btn-nav-bg-color-hover: mat-color($primary, 400);
// $el-btn-nav-border-color-hover: mat-color($primary, 600);

// $el-btn-nav-text-shadow-hover: 2px 3px 1px rgba($fg-color, 0.4);

// $el-btn-nav-color-focus: $bg-color;
// $el-btn-nav-bg-color-focus: mat-color($primary, 600);
// $el-btn-nav-border-color-focus: mat-color($primary, 700);

// $el-btn-nav-text-shadow-focus: 0px 0px 6px rgba($bg-color, 0.7), 1px 1px 1px rgba($fg-color, 0.3);
// $el-btn-nav-box-shadow-focus: 0px 5px 10px 2px rgba(mat-color($primary, 900), 0.2) inset,
//   0px 7px 10px 2px rgba($bg-color, 0.2) !important;

//$el-btn-nav-bg-color-disabled: mat-color($primary, 400); //!important;
//-----------------------------------------------------------------
