<div class="container">
    <el-loading *ngIf="isLoading$ | async"></el-loading>
    <el-error-message *ngIf="isFalling$ | async"></el-error-message>
    <div class="row" *ngIf="advert">
        <div class="col-12 px-2">
            <div class="card my-2">
                <div class="card-body px-0 px-sm-3">
                    <div>
                        <mat-carousel timings="250ms ease-in" [autoplay]="true" [interval]=5000 color="primary"
                            maxWidth="auto" [maintainAspectRatio]="true" [proportion]=60 [slides]="slides.length"
                            [loop]="true" [hideArrows]="true" [hideIndicators]="false" [useKeyboard]="true"
                            [useMouseWheel]="true" orientation="ltr">
                            <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index"
                                [image]="slide.path" overlayColor="#f2f9c820" [hideOverlay]="true"
                                class="card-img img-raised">
                            </mat-carousel-slide>
                        </mat-carousel>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8 pr-md-1">
                    <div class="card my-2">
                        <div class=" card-body">
                            <h2 class="card-title mb-0 text-center font-weight-bolder"> {{advert.title}}</h2>
                            <mat-divider class="my-2"></mat-divider>
                            <div>
                                <div class="subtitle my-3">Адрес:</div>
                                <div class="ml-2 mb-1 font-italic address">
                                    <strong>{{advert.region}}</strong> обл.,
                                    <strong>{{advert.district}}</strong> р-н.,
                                </div>
                                <div class="ml-2 font-italic address">
                                    {{advert.settlementType}}
                                    <strong>{{advert.settlementName}}</strong>,
                                    {{advert.streetType}}
                                    <strong>{{advert.streetName}}</strong>,
                                    дом <strong>№{{advert.houseNumber}}</strong>,
                                    кв. <strong>№{{advert.apartmentNumber}}</strong>
                                </div>
                            </div>
                            <mat-divider class="my-2"></mat-divider>
                            <div>
                                <div class="subtitle my-3">Характеристики:</div>
                                <div class="ml-2 mb-1 parameters">
                                    <span [ngSwitch]="advert.realtyType">
                                        <div *ngSwitchCase="'дом'">
                                            Площадь дома:
                                            <strong class="text-white bg-info rounded px-2">{{advert.area}}</strong>
                                            м2,
                                            Количество комнат:
                                            <strong
                                                class="text-white bg-info rounded px-2">{{advert.numberOfRooms}}</strong>,
                                            Количество этажей в доме:
                                            <strong
                                                class="text-white bg-info rounded px-2">{{advert.numberOfStoreys}}</strong>
                                        </div>
                                        <div *ngSwitchCase="'квартира'">
                                            Площадь квартиры:
                                            <strong class="text-white bg-info rounded px-2">{{advert.area}}</strong>
                                            м2,
                                            Количество комнат:
                                            <strong
                                                class="text-white bg-info rounded px-2">{{advert.numberOfRooms}}</strong>,
                                            Количество этажей в много. кв. доме:
                                            <strong
                                                class="text-white bg-info rounded px-2">{{advert.numberOfStoreys}}</strong>,
                                            Этаж расположения квартиры:
                                            <strong class="text-white bg-info rounded px-2">{{advert.storey}}</strong>,
                                        </div>
                                        <div *ngSwitchCase="'комната'">
                                            Площадь комнаты:
                                            <strong class="text-white bg-info rounded px-2">{{advert.area}}</strong>
                                            м2,
                                            Количество этажей в много. кв. доме:
                                            <strong
                                                class="text-white bg-info rounded px-2">{{advert.numberOfStoreys}}</strong>,
                                            Этаж расположения комнаты:
                                            <strong class="text-white bg-info rounded px-2">{{advert.storey}}</strong>,
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <mat-divider class="my-2"></mat-divider>
                            <div>
                                <div class="subtitle my-3">Описание:</div>
                                <div class="card-text ml-2">
                                    {{advert.description}}
                                    Комната - прекрасно
                                    убранная. Там стоит бюро красного дерева, два
                                    дивана, обитые шелковою материею, красивые ширмы с вышитыми небывалыми в природе
                                    птицами и
                                    плодами. Имеются там шелковые занавесы, ковры, несколько картин, бронза, фарфор и
                                    множество
                                    красивых мелочей
                                </div>
                            </div>
                            <div *ngIf="advert.comfortList.length > 0">
                                <mat-divider class="my-2"></mat-divider>
                                <div class="subtitle my-3">Удобства:</div>
                                <el-comfort-list [comfortList]="advert.comfortList"></el-comfort-list>
                            </div>
                            <div *ngIf="(isAuthor$ | async) && advert.tagList.length > 0">
                                <mat-divider class="my-2"></mat-divider>
                                <div class="subtitle my-3">Список тегов:</div>
                                <el-tag-list [tags]="advert.tagList"></el-tag-list>
                            </div>
                            <meta name="keywords" content="{{advert.tagList.toString()}}">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 pl-md-1">
                    <div class="card my-2" *ngIf="isAuthor$ | async">
                        <div class="card-body">
                            <div class="row px-3">
                                <button mat-raised-button color="secondary" class="col-12 my-1 py-1 px-md-1"
                                    [routerLink]="[ '/advert', advert.slug, 'edit' ]">
                                    <fa-icon [icon]="faEdit" size="lg" class="pr-1">
                                    </fa-icon>
                                    Редактировать
                                </button>
                                <button mat-raised-button color="success" class="col-12 my-1 py-1 px-md-1"
                                    [routerLink]="[ '/advert', advert.slug, 'photos', 'edit' ]">
                                    <fa-icon [icon]="faImages" size="lg" class="pr-1">
                                    </fa-icon>
                                    Изменить фото
                                </button>
                                <button mat-raised-button color="warn" class="col-12 my-1 py-1 px-md-1"
                                    (click)="deleteAdvert()">
                                    <fa-icon [icon]="faTrash" size="lg" class="pr-1">
                                    </fa-icon>
                                    Удалить
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card my-2">
                        <div class="card-body pt-1 pb-0">
                            <div class="d-flex justify-content-center">
                                <h3 class="text-truncate w-auto my-2 pr-1">Добавить в избранное:</h3>
                                <div>
                                    <el-add-to-favorites [isFavorited]="advert.favorited" [advertSlug]="advert.slug">
                                    </el-add-to-favorites>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card my-2">
                        <div class="card-body">
                            <div class="card-description d-flex justify-content-center">
                                <div class="text-truncate w-auto">Объявление размещено:</div>
                                <div class="w-auto create-ad">&nbsp;{{advert.createdAd | date:'dd.MM.yyг. HH:mm'}}</div>
                            </div>
                            <mat-divider class="my-2"></mat-divider>
                            <div class="row h5 mt-3 text-center">
                                <div
                                    class="col-12 col-sm-6 col-md-12 col-lg-6 text-sm-right text-md-center text-lg-right pr-sm-1 pr-md-3 pr-lg-1">
                                    Цена {{priceType}}:
                                </div>
                                <div
                                    class="col-12 col-sm-6 col-md-12 col-lg-6 text-sm-left text-md-center text-lg-left">
                                    {{advert.price}} гр.
                                </div>
                            </div>
                            <button mat-raised-button color="primary" class="w-100 my-1 py-1">
                                Предложить цену
                            </button>
                        </div>
                    </div>
                    <div class="card my-2">
                        <div class="card-body">
                            <a [routerLink]="[ '/profile', advert.author?.id]">
                                <div class="row justify-content-center">
                                    <div class="card-user-icon text-center mx-1">
                                        <img *ngIf="!advert.author?.image" src="assets/img/avatar.png" />
                                    </div>
                                    <div class="card-user-icon text-center mx-1">
                                        <img *ngIf="advert.author?.image"
                                            [src]="bypassSecurityTrust('data:image/jpg/jpeg/png/gif;base64,' + advert.author?.image)" />
                                    </div>
                                    <div class="h3 text-center mb-0 mx-1"> {{advert.author?.userName}}</div>
                                </div>
                            </a>
                            <mat-divider class="my-2"></mat-divider>
                            <div class="card-description d-flex justify-content-center">
                                <div class="text-truncate w-auto">Зарегистрирован на сайте:</div>
                                <div class="w-auto create-user">
                                    &nbsp;{{advert.author?.createdUser | date:'dd.MM.yyг.'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>