<el-loading *ngIf="isLoading$ | async"></el-loading>
<el-error-message *ngIf="error$ | async"></el-error-message>


<div *ngIf="tags$ | async">
    <div class="container-fluid">
        <div class="row justify-content-center content">
            <div class="col">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h1 class="card-title el-title text-center tags-title">Теги</h1>
                    </div>
                    <div class="card-body">
                        <mat-chip-list ariaOrientation="horizontal" aria-label="Tags">
                            <mat-chip *ngFor="let tag of tags$ | async" [routerLink]="[ apiUrlProps, tag ]"
                                class="mx-2">
                                {{tag}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>